%section.new-thread
  %h1= t ".title"
  %p= t ".for_group", name: @thread.group.name
  = semantic_form_for @thread, as: :thread, url: {action: :create} do |f|
    = f.semantic_errors
    = f.inputs do
      = f.input :title
      = f.input :privacy, as: :select, collection: @thread.group.thread_privacy_options_for(current_user).map {|n| [n.capitalize, n] }
      = semantic_fields_for @message do |f2|
        = f2.semantic_errors
        = f2.inputs :body
      = f.input :tags_string, as: :tags
    = f.buttons do
      = f.commit_button
      = cancel_link
