%article.message{id: dom_id(message)}
  .details
    .author
      - if message.created_by.profile.picture
        = image_tag message.created_by.profile.picture_thumbnail.url, class: "thumbnail", alt: ""
      = link_to_profile message.created_by
      %time{datetime: message.created_at}
        = t ".posted_date", time_ago: time_ago_in_words(message.created_at)
  .body
    - if message.censored?
      .censored= t ".censored"
    - else
      - if message.component
        = render "message/#{message_controller_map(message.component)}/show", message: message
      = simple_format message.body
      - if permitted_to?(:censor, message)
        .actions
          = link_to t(".censor"), censor_thread_message_path(message.thread, message), method: :put
