%section.new-message
  %ul.tabs
    %li
      = link_to "#compose-new" do
        %span.compose-new Compose New
    %li
      = link_to "#from-library" do
        %span.from-library From Library
  .panes
    #compose-new
      %ul.tabs
        %li
          = link_to "#new-text-message" do
            %span.text
            = t ".text_message"
        %li
          = link_to "#new-photo-message" do
            %span.photo
            = t ".photo_message"
        %li
          = link_to "#new-link-message" do
            %span.link
            = t ".link_message"
        %li
          = link_to "#new-deadline-message" do
            %span.deadline
            = t ".deadline_message"
        %li
          = link_to "#new-library-item-message" do
            %span.library
            = t ".library_item_message"
      .panes
        #new-text-message.pane
          = semantic_form_for @new_message, url: thread_messages_path(@thread) do |f|
            = f.inputs do
              = f.input :body
            = f.buttons do
              = f.commit_button
        = render "message/photos/new"
        = render "message/links/new"
        = render "message/deadlines/new"
        = render "message/library_items/new"
    #from-library
      %p hello library tab, why aren't you working?