%article#content.library.note
  %header
    %h1= @note.title
    - if permitted_to?(:edit, @note)
      %menu.tools
        %ul
          %li= link_to t(".edit"), edit_library_note_path(@note)
  %section.meta
    %p= t ".added_by_html", name: link_to_profile(@note.created_by), time: l(@note.created_at.to_date)
    - if @note.document
      %p= t ".note_on_document_html", document: link_to(@note.document.title, @note.document)
  %section.tags
    = @tag_panel.render
  %section.note
    = @item.icon
    = render partial: "note", locals: { note: @note }
%aside#sidebar
  %section.threads
    %h2= t ".public_threads"
    - unless @threads.empty?
      %p= t ".threads_explanation"
      %ul.sidebar-threadlist
        = render partial: "message_threads/compact", collection: @threads, as: :thread
    - else
      %p= t ".no_threads"
