-# frozen_string_literal: true

%article#content.library.note
  %header
    %h1= @note.title
    - if permitted_to?(:edit, @note)
      %menu.tools
        %ul
          %li= link_to t(".edit"), edit_library_note_path(@note)
  %section.meta
    %p
      - if permitted_to? :view_profile, @note.created_by
        - profile_link = link_to_profile @note.created_by
      - else
        - profile_link = @note.created_by.display_name_or_anon
      = t ".added_by_html", name: profile_link, time: formatted_created_at(@note)
    - if @note.document
      %p= t ".note_on_document_html", document: link_to(@note.document.title, @note.document)
  %section.tags
    = @tag_panel.render
  %section.note
    = @item.icon
    = render partial: "note", locals: { note: @note }

%aside#sidebar
  %section.threads
    %h2= t ".public_threads"
    - unless @threads.empty?
      %p= t ".threads_explanation"
      %ul.sidebar-threadlist
        = render partial: "message_threads/compact", collection: @threads, as: :thread
    - else
      %p= t ".no_threads"
