.library.document.new
  %h1= t ".title"
  = semantic_form_for @document, url: thread_message_documents_path do |f|
    = f.inputs do
      = f.input :title
      = f.input :tags_string, as: :tags
    = f.actions do
      = f.action :submit
      = cancel_link library_path
