%h2
  = t ".resend_confirmation"
= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  = render "devise/shared/error_messages", resource: resource
  %div
    = f.label :email
    %br/
    = f.email_field :email
  %div= f.submit t(".resend_confirmation_submit")
= render :partial => "devise/shared/links"
