%article#content.library.document
  %h1= @document.title
  %p= t ".added_by_html", name: link_to_profile(@document.created_by), time: l(@document.created_at.to_date)
  %p= link_to t(".download"), @document.file.url
  %section.tags
    = @tag_panel.render
%section.notes
  %h2= t ".notes"
  = render partial: "library/notes/note", collection: @notes
  .form
    %h2= t ".attach_note"
    %p= t ".attach_note_instructions_html"
    = semantic_form_for @note do |f|
      = f.inputs do
        = f.input :body
        = f.input :library_document_id, as: :hidden
      = f.buttons do
        = f.commit_button :attach_to_document
