.new-link-message
  = semantic_form_for LinkMessage.new, url: thread_links_path(@thread) do |f|
    = f.inputs do
      = f.input :url, as: :string
      = f.input :title
      = f.input :description
      = semantic_fields_for Message.new do |f2|
        = f2.input :body
    = f.buttons do
      = f.commit_button
