#new-link-message.pane
  = message_form.fields_for :link_messages, message.link_messages.build do |f|
    = f.inputs do
      = f.input :url, as: :string
      = f.input :title
      = f.input :description, input_html: { class: 'autosize' }
