%li
  %article.issue
    .map
      - prefix = "list" unless local_assigns.has_key? :prefix
      - map_id = "leaflet-#{dom_id(issue, prefix)}"
      .tinymap{id: map_id}
      .hidden
        .map-data{"data-center" => location_to_geojson(issue.location),
          "data-opts" => { domid: map_id, hidelayers: true, feature: item_to_geojson(issue), hidezoom: true }.to_json}
    .issue-content
      %h3= link_to issue.title, issue
      .meta
        %p
          - if permitted_to? :view_profile, issue.created_by
            = issue.creator_link
          - else
            = issue.created_by.display_name_or_anon
          = formatted_created_at(issue)
          \//
          = t(".thread_count", count: issue.thread_count)
        .tags
          = issue.tags_list
      %p
        = issue.brief_description
    .votes-cell
      =render partial: "shared/votable",
        locals: { resource: issue.object }
