%li
  %article.issue
    .map
      - prefix = "list" unless local_assigns.has_key? :prefix
      - m = tiny_display_map(issue, geometry_issue_path(issue, :json), prefix) do |map, page, dom_id|
        %div{id: dom_id, class: "tinymap"}
      != m.to_html
    .issue-content
      %h3= link_to issue.title, issue
      .meta
        %p
          = current_user_can_view(issue.created_by) do
            = issue.creator_link
          = issue.creation_time
          \//
          = t(".thread_count", count: issue.thread_count)
        .tags
          = issue.tags_list
      %p
        = issue.brief_description
    .votes-cell
      .votes
        .vote-count
          %span= issue.vote_count
          = t(".votes")
