= semantic_form_for @issue, html: {class: "guided"} do |f|
  = f.inputs do
    = f.input :title
    = f.input :photo, as: :file
    = f.input :retained_photo, as: :hidden
    = f.input :loc_json, as: :hidden
    %li.input.full-width
      %label.label= t "formtastic.labels.issue.new.location"
      .map
        .map-tools-overlay
          %nav
            %ul.tabs
              %li
                %a
                  %span.area
                  area
              %li
                %a
                  %span.route
                  route
              %li
                %a
                  %span.point
                  point
          .panes
            .pane
              %h3 Draw an Area
              %p Click the points to mark an area on the map.
              %p Double-click to complete the shape.
              %p Zoom in and pan to select the correct area.
            .pane
              %h3 Draw a Route
            .pane
              %h3 Draw a Point
          %ul.undo-clear
            %li
              %a
                %span.icon-undo
                %span.txt
                  undo
            %li
              %a
                %span.icon-clear
                %span.txt
                  clear
        = f.semantic_errors :location
        = render partial: "shared/edit_map", locals: {thing: @issue}
        = render partial: "shared/map_search", locals: {map_id: "map"}
    = f.input :tags_string, as: :tags
    = f.input :description
  = f.buttons do
    %li= button_tag t("formtastic.actions.issue.#{f.commit_button_i18n_key}"), type: "submit", class: "btn-green submit"
