= semantic_form_for @issue, html: {class: "guided"} do |f|
  = f.inputs do
    = f.input :title
    = f.input :photo, as: :file
    = f.input :retained_photo, as: :hidden
    = f.input :loc_json, as: :hidden
    = f.input :planning_application_id, as: :hidden
    %li.input.full-width
      %label.label= t "formtastic.labels.issue.new.location"
      = f.semantic_errors :location
      = f.semantic_errors :size
      = render partial: "shared/edit_map", locals: {thing: @issue}
    = f.input :tags_string
    = f.input :description
    = f.input :external_url
    = f.inputs do
      = f.input :all_day, input_html: {class: "all-day"}
      = f.input :deadline, as: :date_picker, label: t("deadline_date"), input_html: {value: @issue.deadline.try(:strftime, "%d-%m-%Y %H:%M")}
  = f.actions do
    = f.action :submit, button_html: {class: "btn-green submit", data: { disable_with: t("formtastic.actions.saving") }}
