%section.issues
  %header
    %h1= t ".title"
  .tasks
    = link_to t(".new_issue"), new_issue_path, class: "button"
  = render "all_map"
  .recent
    %h2= t ".recent_issues"
    = render partial: "compact", collection: @issues, as: :issue, locals: {collapsed: true}
