%header
  %h1= t ".title"
%section
  .tasks
    = link_to t(".new_issue"), new_issue_path
  %table
    %thead
      %th= t ".issue_title"
      %th= t ".category"
      %th= t ".description"
    %tbody
      - @issues.each do |issue|
        %tr
          %td= issue.title
          %td= issue.category.name
          %td= issue.description