%section#content.content-no-sidebar
  %header
    %h1= t ".title"
    %p= t ".new_issue_introduction"
    %p= t ".new_issue_privacy_warning"
    - if current_group
      %p.comment= t ".admin_thread_pointer_html", administrative_matters_link: link_to(t(".administrative_matters"), new_thread_path)
  = render "form"
