%h1= t(".title")
- if @results.count > 0
  %p= t(".results_found", count: @results.count, query: @query)
  %ul
    - @results.each do |issue|
      %li= link_to(issue.title, issue_path(issue)) + " - #{issue.description.truncate(100)}"
- else
  %p= t(".no_results_found", query: @query)
