%article.issue#content.content-wide-sidebar
  %header
    %h1= @issue.title
    - if permitted_to? [:edit, :destroy], @issue
      %menu.tools
        %ul
          - if permitted_to?(:edit, @issue)
            %li= link_to t(".edit_issue"), edit_issue_path(@issue)
          - if permitted_to?(:destroy, @issue)
            %li= link_to t(".delete_issue"), issue_path(@issue), data: { confirm: t(".confirm_delete") }, method: :delete
  .main
    %section.voting
      .votes
        - if current_user && current_user.voted_for?(@issue.model)
          = link_to t(".cancel_vote"), vote_clear_issue_path(@issue), method: :put, class: "up selected"
        - else
          = link_to t(".vote_up"), vote_up_issue_path(@issue), method: :put, class: "up"
        .vote-count
          %span= @issue.plusminus
          = t(".votes", count: @issue.plusminus)
        - if current_user && current_user.voted_against?(@issue.model)
          = link_to t(".cancel_vote"), vote_clear_issue_path(@issue), method: :put, class: "down selected"
        - else
          = link_to t(".vote_down"), vote_down_issue_path(@issue), method: :put, class: "down"
        - if not permitted_to? :vote_up, :issues
          .access-denied= t(".sign_in_to_vote_html", sign_in_link: link_to_sign_in)
    %section.meta
      %p
      - if permitted_to? :view_profile, @issue.created_by
        - profile_link = link_to_profile @issue.created_by
      - else
        - profile_link = @issue.created_by.display_name_or_anon
      = t ".added_by_html", name: profile_link, time: l(@issue.created_at.to_date)
    %section.tags
      = @tag_panel.render
    %section.description
      = @issue.description
  %section.map
    %h2= t ".location"
    = @issue.map

%aside#sidebar.wide
  - if permitted_to? :create, :issue_message_threads
    = link_to t(".new_thread", count: @issue.threads.count), new_issue_thread_path(@issue), class: "btn-green", rel: "#overlay"
  %section.threads
    %header
      %h2= t ".threads"
      - if @threads.empty?
        %p= t ".no_threads_yet"
        - unless current_user
          %p= t ".sign_in_to_discuss_html", sign_in_link: link_to(t(".sign_in"), new_user_session_path)
      - else
        %ul.sidebar-threadlist
          = render partial: "message_threads/compact", collection: @threads, as: :thread
  - if @issue.photo
    %section.photos
      = link_to issue_photo_path(@issue), rel: "#overlay" do
        = @issue.standard_photo_image
  %section.social
    = tweet_button( text: @issue.title )
