%header
  %h2= @issue.title
%section
  %ul
    %li= t ".added_by", name: @issue.created_by.name, time: @issue.created_at
    %li= t ".category", category: @issue.category.name
  %p= @issue.description
  %ul
    - if permitted_to? :create, :message_threads
      %li= link_to t(".new_public_thread"), new_issue_thread_path(@issue)
    - user_groups.each do |group|
      %li= link_to t(".new_group_thread", group: group.name), new_issue_thread_path(@issue, group_id: group)
  = render partial: "map", locals: { issue: @issue }
