%article.issue#content.content-wide-sidebar
  %header
    %h1= @issue.title
    - if permitted_to? [:edit, :destroy], @issue
      %menu.tools
        %ul
          - if permitted_to?(:edit, @issue)
            %li= link_to t(".edit_issue"), edit_issue_path(@issue)
          - if permitted_to?(:destroy, @issue)
            %li= link_to t(".delete_issue"), issue_path(@issue), confirm: t(".confirm_delete"), method: :delete
  .main
    %section.meta
      %p= t ".added_by_html", name: link_to_profile(@issue.created_by), time: l(@issue.created_at.to_date)
    %section.tags
      = render partial: "issue/tags/panel", locals: {issue: @issue}
    %section.description
      = @issue.description
    %section.voting
      %ul
        %li
          = link_to t(".vote_up"), vote_up_issue_path(@issue), method: :put
          = " \u2714" if current_user && current_user.voted_for?(@issue)
        %li= @issue.plusminus
        %li
          = link_to t(".vote_down"), vote_down_issue_path(@issue), method: :put
          = " \u2714" if current_user && current_user.voted_against?(@issue)
  %section.map
    %h2= t ".location"
    = @issue.map

%aside#sidebar.wide
  - if permitted_to? :create, :issue_message_threads
    = link_to t(".new_thread"), new_issue_thread_path(@issue), class: "btn-green", rel: "#overlay"
  %section.threads
    %header
      %h2= t ".threads"
    %ul.sidebar-threadlist
      = render partial: "message_threads/compact", collection: @threads, as: :thread
  %section.photos
    = @issue.standard_photo_image
