#new-document-message.pane
  - document = message.document_messages.build
  = message_form.semantic_fields_for :document_messages, document do |f|
    = f.inputs do
      = f.input :file, as: :file
      = f.input :retained_file, as: :hidden
      = f.input :title
