#new-document-message.pane
  = semantic_form_for DocumentMessage.new, url: thread_documents_path(@thread), html: {multipart: true} do |f|
    = f.inputs do
      = f.input :file, as: :file
      = f.input :retained_file, as: :hidden
      = f.input :title
    = f.actions do
      = f.action :submit, button_html: {class: "btn-green"}
