= render partial: "group/tabs"

%h2= t ".title", group: @group.name

- if @requests.length == 0
  %p= t ".no_requests_yet"
- else
  %table
    %thead
      %th= t ".user"
      %th= t ".email"
      %th= t ".requested_at"
      %th= t ".status"
      %th= t ".actioned_by"
      %th
      %th
    - @requests.each do |r|
      %tr
        %td= link_to_profile(r.user)
        %td= auto_link r.user.email
        %td= t ".created_at", time_ago: time_ago_in_words(r.created_at)
        %td= t ".membership_status.#{r.status}"
        %td= link_to t(".by", name: r.actioned_by.name), user_path(r.actioned_by) if r.rejected? || r.confirmed?
        %td= link_to t(".confirm"), confirm_group_membership_request_path(@group, r), method: :post, data: { confirm: t(".are_you_sure") } if r.pending?
        %td= link_to t(".reject"), reject_group_membership_request_path(@group, r), method: :post, data: { confirm: t(".are_you_sure") } if r.pending?