= render partial: "group/tabs"

%h2= t ".title", group: @group.name

- if @requests.length == 0
  %p= t ".no_requests_yet"
- else
  %table
    %thead
      %th= t ".user"
      %th= t ".full_name"
      %th= t ".email"
      %th= t ".message"
      %th= t ".requested_at"
      %th= t ".status"
      %th= t ".actioned_by"
      %th
      %th
    - @requests.each do |r|
      %tr
        %td= link_to_profile(r.user)
        %td= r.user.full_name
        %td= auto_link r.user.email
        %td= link_to t(".view_message"), review_group_membership_request_path(@group, r) unless r.message.blank?
        %td
          = formatted_created_at(r)
        %td= t ".membership_status.#{r.status}"
        %td= link_to t(".by", name: r.actioned_by.name), user_profile_path(r.actioned_by) if r.rejected? || r.confirmed?
        %td= link_to t(".review"), review_group_membership_request_path(@group, r)
        %td= link_to t(".confirm"), confirm_group_membership_request_path(@group, r), method: :post, data: { confirm: t("are_you_sure") } if r.pending?
        %td= link_to t(".reject"), reject_group_membership_request_path(@group, r), method: :post, data: { confirm: t("are_you_sure") } if r.pending?
