= render partial: "group/tabs"

%h2= t ".title", group: @group.name

- if @request.message.blank?
  %p= t ".no_message"
- else
  %p= t ".message"
  %p= auto_link simple_format @request.message

%table
  %thead
    %th= t ".user"
    %th= t ".full_name"
    %th= t ".email"
    %th= t ".requested_at"
    %th= t ".status"
    %th= t ".actioned_by"
    %th= t ".rejection_message"
    %th
  %tr
    %td= link_to_profile(@request.user)
    %td= @request.user.full_name
    %td= auto_link @request.user.email
    %td
      = formatted_created_at(@request)
    %td= t ".membership_status.#{@request.status}"
    %td= link_to t(".by", name: @request.actioned_by.name), user_profile_path(@request.actioned_by) if @request.rejected? || @request.confirmed?
    %td= @request.rejection_message
    %td= link_to t(".confirm"), confirm_group_membership_request_path(@group, @request), method: :post, data: { confirm: t("are_you_sure") } if @request.pending?

- if @request.pending?
  = semantic_form_for @request, url: reject_group_membership_request_path(@group, @request), method: :post do |f|
    = f.inputs do
      = f.input :rejection_message
    = f.actions do
      = f.action :submit, label: "Reject", button_html: {class: "btn-green submit", data: { disable_with: t("formtastic.actions.saving"), confirm: t("are_you_sure") }}
