= render partial: "group/tabs"

%h2= t ".title", group: @group.name

%table
  %thead
    %th= t ".user"
    %th= t ".full_name"
    %th= t ".email"
    %th= t ".requested_at"
    %th= t ".status"
    %th= t ".actioned_by"
    %th
    %th
  %tr
    %td= link_to_profile(@request.user)
    %td= @request.user.full_name
    %td= auto_link @request.user.email
    %td
      = formatted_created_at(@request)
    %td= t ".membership_status.#{@request.status}"
    %td= link_to t(".by", name: @request.actioned_by.name), user_profile_path(@request.actioned_by) if @request.rejected? || @request.confirmed?
    %td= link_to t(".confirm"), confirm_group_membership_request_path(@group, @request), method: :post, data: { confirm: t("are_you_sure") } if @request.pending?
    %td= link_to t(".reject"), reject_group_membership_request_path(@group, @request), method: :post, data: { confirm: t("are_you_sure") } if @request.pending?
- if @request.message.blank?
  %p= t ".no_message"
- else
  %p= t ".message"
  %p= auto_link simple_format @request.message
