%li
  .message-count= t ".message_count_html", count: thread.message_count
  .item-content
    %h4= link_to_if (permitted_to? :view, thread), thread.title, thread_path(thread), class: "primary-link"
    .tags
      %p= t "tags"
      %ul
        = thread.tags.map {|t| content_tag(:li) { link_to t.name, "#" } }.join.html_safe
  .permissions= thread_type(thread)
