-# frozen_string_literal: true

%li
  .item-content
    %h4= link_to_if (permitted_to? :show, thread), thread.title, thread_path(thread), class: "primary-link"
    .meta
      %p
        - if thread.group
          = link_to_profile(thread.group)
          %br
        - if permitted_to? :show, thread
          - if permitted_to? :view_profile, thread.latest_activity_by
            = link_to_profile(thread.latest_activity_by)
          - else
            = thread.latest_activity_by.display_name_or_anon
          = time_tag_with_title(thread.latest_activity_at) do
            - t ".posted_at", time_ago: time_ago_in_words(thread.latest_activity_at)
  .permissions= thread_type(thread)
