%li{class: thread.icon_class, data: {'thread-id' => thread.id}}
  .item-content
    %h4= link_to_if (permitted_to? :show, thread), thread.title, thread_path(thread), class: "primary-link"
    .meta
      %p
        - if thread.group
          = link_to_profile(thread.group)
          %br
        = link_to_profile(thread.created_by)
        = t ".created_at", time_ago: time_ago_in_words(thread.created_at)
  .status
    = thread.following_status
    .permissions= thread_type(thread)
