.subscription-panel
  - if signed_in? && current_user.subscribed_to_thread?(@thread)
    - subscription = current_user.thread_subscriptions.to(@thread)
    - if subscription.send_email?
      %p= t(".subscribed_by_email")
    - else
      %p= t(".subscribed")
    = semantic_form_for subscription, url: thread_subscription_path(@thread, subscription, action: :destroy), method: :delete do |f|
      = f.buttons do
        = f.commit_button :delete
  - else
    = semantic_form_for ThreadSubscription.new, url: thread_subscriptions_path(thread_id: @thread, action: :create) do |f|
      = f.inputs :send_email
      = f.buttons
