%section.subscribers.box
  %h2= t ".subscribers"
  - if group
    %dl
      %dt.title= t ".owner"
      %dd.title= link_to_profile group
  %ul.thread-metadata-listings
    - subscribers.each do |sub|
      %li
        - if permitted_to?(:view_profile, sub)
          = link_to user_profile_path(sub) do
            %span.thumb
              - if sub.profile.picture
                = image_tag sub.profile.picture_thumbnail.url
            %p= sub.name
        - else
          sub.display_name_or_anon
