.widget
  .title
    %i{class: "fas fa-fw fa-users"}
    = subscribers.count
  .widget-content
  - if group
    %dl
      %dt= t ".owner"
      %dd= link_to_profile group
    %ul{class: "unstyled avatars"}
      - leaders = @thread.leaders.ordered(group.try(:id))
      - committee_members = @thread&.group_committee_members&.to_a
      = render collection: leaders, as: :user, partial: "connected_to_thread", locals: { leading: true, committee_members: committee_members }, cached: true
      = render collection: (subscribers - leaders), as: :user, partial: "connected_to_thread", locals: { leading: false, committee_members: committee_members }, cached: true
