%section.threads
  %h1= t ".title"
  %p= t ".threads_explanation_html", issues_link: link_to(t(".issues"), issues_path)
  %p= t ".introduction"
  %p= t ".introduction_group_pointer"
  %ul.thread-list
    = render partial: "message_threads/list", collection: @threads, as: :thread
  = will_paginate @threads
