%section.threads
  %h1= t ".title"
  %p= t ".threads_explanation_html", issues_link: link_to(t(".issues"), issues_path)
  %p= t ".introduction"
  %p= t ".introduction_group_pointer"
  = paginate @threads
  .clear
  %ul.thread-list
    = render partial: "shared/message_threads_list", collection: @threads, as: :thread
  = paginate @threads
