%section.new-thread
  %h1= t ".title"
  - semantic_form_for :thread, @thread do |f|
    = f.inputs do
      = f.input :title
      = f.input :privacy, as: :select, collection: f.object.class.ALLOWED_PRIVACY
      = f.input :description
    = f.buttons do
      = f.commit_button
      %li
        = cancel_link
