- content_for :subnav do
  .search
    = form_tag({action: :search}, {method: :get, class: "filters"}) do
      = label_tag do
        = t(".search")
        = text_field_tag :query, params[:query]
      = button_tag t(".search_submit"), class: "submit", value: "search"
      - if params[:query]
        = button_tag t(".clear_submit"), class: "submit", value: "clear"

%h1= t(".title")
- if @results.count > 0
  %p= t(".results_found", count: @results.count, query: @query)
  %ul.thread-list
    = render partial: "message_threads/list", collection: @results, as: :thread
- else
  %p= t(".no_results_found", query: @query)