%nav
  %ol
    %li= link_to t(".back"), {action: :index}

%section.thread
  %h1= @thread.title
  .info
    .privacy
      - if @thread.private_to_group?
        = t ".private_to_group_message", group: @thread.group.name
      - else
        = t ".public_message"

  - @messages.each do |message|
    %article.message
      .details
        = message.created_by.name
      .body
        = message.body

  = render "messages/new"
