%section#content.thread
  %header
    - if @issue
      %p.pre-title= link_to @issue.title, issue_path(@issue)
    %h1= @thread.title
    .meta
      .privacy
        - if @thread.private_to_committee?
          %p= t ".private_to_committee_message", group: @thread.group.name
        - elsif @thread.private_to_group?
          %p= t ".private_to_group_message", group: @thread.group.name
        - else
          %p= t ".public_message"
      %section.tags
        = @tag_panel.render
    - if @issue
      .description
        %p= @issue.description
    - if permitted_to? [:edit, :destroy], @thread
      %menu.tools
        %ul
          - if permitted_to? :edit, @thread
            %li= link_to t(".edit"), edit_thread_path(@thread)
          - if permitted_to? :destroy, @thread
            %li= link_to t(".destroy"), thread_path(@thread), method: :delete, data: { confirm: t(".are_you_sure") }

  = render collection: @messages, partial: "messages/message"
  = render "messages/new"

%aside#sidebar
  = render "subscribe_panel", thread: @thread
  - if @issue
    %section.map.box
      - m = tiny_display_map(@issue, geometry_issue_path(@issue, :json), "minimap") do |map, page, dom_id|
        %div{id: dom_id, class: "minimap"}
      != m.to_html
  = render "priority_panel"
  = render "subscribers_panel", group: @thread.group, subscribers: @subscribers
  = render "library_panel", items: @library_items, thread_tags: @thread.tags

