%section#content.thread
  %header
    %h1= @thread.title
    .meta
      .privacy
        - if @thread.private_to_group?
          %p= t ".private_to_group_message", group: @thread.group.name
        - else
          %p= t ".public_message"
      = render partial: "message_thread/tags/panel", locals: {thread: @thread}
    - if @thread.issue
      = render "issue_panel", :issue => @thread.issue
    - if permitted_to?(:destroy, @thread)
      %menu.tools
        %ul
          %li= link_to t(".destroy"), thread_path(@thread), method: :delete, confirm: t(".are_you_sure")

  = render collection: @messages, partial: "messages/message"
  = render "messages/new"

%aside#sidebar
  = render "subscription_panel"
