%nav
  %ol
    %li= link_to t(".back"), {action: :index}

%section.thread
  %header
    %h1= @thread.title
    .info
      .privacy
        - if @thread.private_to_group?
          = t ".private_to_group_message", group: @thread.group.name
        - else
          = t ".public_message"
      = render partial: "message_thread/tags/panel", locals: {thread: @thread}
      - if permitted_to?(:destroy, @thread)
        .actions
          = link_to t(".destroy"), thread_path(@thread), method: :delete, confirm: t(".are_you_sure")
      - if @thread.issue
        = render "issue_panel", :issue => @thread.issue


  = render collection: @messages, partial: "messages/message"
  = render "messages/new"

%aside.sidebar
  = render "subscription_panel"
