%section#user-locations
  %header#user-locations-header
    .tasks
      = link_to t(".new"), new_admin_user_location_path(@user), class: "btn-big-green"
    %h1= t ".title", user_name: @user.name

  - if @user.location
    %section.combined
      %h2= t ".combined_locations"
      %p= t ".combined_locations_guidance"
      %div#map
      .hidden
        .map-data{"data-center" => location_to_geojson(@user.buffered_location),
          "data-opts" => { feature: RGeo::GeoJSON.encode(@user.buffered_location) }.to_json}
  - else
    %h2= t ".no_locations_yet"
    %p.warning
      = image_tag 'warning.png'
      = t ".no_locations_guidance"
%aside#sidebar
