-# frozen_string_literal: true

%p= t ".planning_filter_intro"

= semantic_form_for @filter,  url: [:admin, @filter] do |f|
  = f.inputs do
    = f.input :authority, as: :select, collection: [PlanningFilter::STAR] + PlanningFilter::LOCAL_AUTHORITIES
    = f.input :rule
  = f.actions
