%h1 Planning Filters
%section
  .tasks
    %p= link_to t(".new_planning_filter"), new_admin_planning_filter_path
  %table
    %thead
      %th= t(".id")
      %th= t(".authority")
      %th= t(".rule")
    %tbody
      = render collection: @planning_filters, partial: "filter"
