-# frozen_string_literal: true

%h1= t(".page_title", q: @query)
- if @planning_applications.count == 0
  %p= t(".no_results_found")
-else
= form_tag(search_planning_applications_path, {method: :get, class: "filters"}) do
  = text_field_tag :q, params[:q], placeholder: t(".planning_applications_search")
  = button_tag t(".planning_application_search_button")

%p= link_to(t(".your_planning_applications"), dashboard_path + "#planning-applications")
%table.dashboard-planning-applications.listing
  %tbody
    = render partial: 'planning_application', collection: @planning_applications, as: :planning_application


- if @planning_applications.respond_to?(:total_pages)
  = paginate @planning_applications
