- if Authorization::Engine.instance.permit?(:view_profile, object: user, user: recipient)
  - if user.profile.picture
    = image_tag "#{root_url[0..-2]}#{user.profile.picture_thumbnail.url}"
  %span.name
    = link_to user.name, user_profile_url(user)
- else
  %span.name
    = user.display_name_or_anon
