%p= t ".site_config_intro"

= semantic_form_for @site_config, url: [:admin, @site_config] do |f|
  = f.inputs do
    = f.input :logo, as: :file
    = f.input :retained_logo, as: :hidden
    = f.input :application_name
    = f.input :funder_name_footer1
    = f.input :funder_url_footer1
    = f.input :funder_image_footer1, as: :file
    = f.input :retained_funder_image_footer1, as: :hidden
    = f.input :funder_name_footer2
    = f.input :funder_url_footer2
    = f.input :funder_image_footer2, as: :file
    = f.input :retained_funder_image_footer2, as: :hidden
    = f.input :funder_name_footer3
    = f.input :funder_url_footer3
    = f.input :funder_image_footer3, as: :file
    = f.input :retained_funder_image_footer3, as: :hidden
    = f.input :funder_name_footer4
    = f.input :funder_url_footer4
    = f.input :funder_image_footer4, as: :file
    = f.input :retained_funder_image_footer4, as: :hidden
    = f.input :funder_name_footer5
    = f.input :funder_url_footer5
    = f.input :funder_image_footer5, as: :file
    = f.input :retained_funder_image_footer5, as: :hidden
    = f.input :funder_name_footer6
    = f.input :funder_url_footer6
    = f.input :funder_image_footer6, as: :file
    = f.input :retained_funder_image_footer6, as: :hidden
    = f.input :nowhere_location, as: :string
    = f.input :facebook_link
    = f.input :twitter_link
    = f.input :blog_url
    = f.input :blog_user_guide_url
    = f.input :header_html
    = f.input :footer_links_html
    = f.input :default_locale, as: :select, collection: UserProfile.all_locales.values.map {|loc| [loc.label, loc.locale]}, include_blank: false
    = f.input :timezone, as: :select, collection: ActiveSupport::TimeZone.all.map { |tz| tz.tzinfo.name }.uniq, include_blank: false
    = f.input :ga_account_id
    = f.input :ga_base_domain
    = f.input :default_email
    = f.input :email_domain
    = f.input :admin_email, input_html: { placeholder: "only used for comments at the moment" }
    = f.input :geocoder_url
    = f.input :geocoder_key
  = f.actions
