%h1 Listing site_configs

%table
  %thead
    %tr
      %th Application Name
      %th Domain
      %th
      %th
      %th

  %tbody
    - @site_configs.each do |site_config|
      %tr
        %td= site_config.application_name
        %td= site_config.domain
        %td= link_to 'Show', admin_site_configs_path(site_config)
        %td= link_to 'Edit', edit_admin_site_config_path(site_config)
        %td= link_to 'Destroy', admin_site_configs_path(site_config), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Site config', new_admin_site_config_path
