%p#notice= notice

%p
  %b Logo uuid:
  = image_tag(@site_config.logo.url)
%p
  %b Domain:
  = @site_config.domain
%p
  %b Funder 1
  = link_to @site_config.funder_name_footer1, @site_config.funder_url_footer1
  = image_tag @site_config.funder_image_footer1.try(:url)
%p
  %b Funder 2
  = link_to @site_config.funder_name_footer2, @site_config.funder_url_footer2
  = image_tag @site_config.funder_image_footer2.try(:url)
%p
  %b Funder 3
  = link_to @site_config.funder_name_footer3, @site_config.funder_url_footer3
  = image_tag @site_config.funder_image_footer3.try(:url)
%p
  %b Funder 4
  = link_to @site_config.funder_name_footer4, @site_config.funder_url_footer4
  = image_tag @site_config.funder_image_footer4.try(:url)
%p
  %b Funder 5
  = link_to @site_config.funder_name_footer5, @site_config.funder_url_footer5
  = image_tag @site_config.funder_image_footer5.try(:url)
%p
  %b Funder 6
  = link_to @site_config.funder_name_footer6, @site_config.funder_url_footer6
  = image_tag @site_config.funder_image_footer6.try(:url)
%p
  %b Nowhere location:
  = @site_config.nowhere_location
%p
  %b Tile server1 url:
  = @site_config.tile_server1_url
%p
  %b Tile server1 name:
  = @site_config.tile_server1_name
%p
  %b Tile server2 url:
  = @site_config.tile_server2_url
%p
  %b Tile server2 name:
  = @site_config.tile_server2_name
%p
  %b Tile server3 url:
  = @site_config.tile_server3_url
%p
  %b Tile server3 name:
  = @site_config.tile_server3_name
%p
  %b Footer Links html:
  = @site_config.footer_links_html
%p
  %b Header html:
  = @site_config.header_html
%p
  %b Default locale:
  = @site_config.default_locale
%p
  %b Timezone:
  = @site_config.timezone
%p
  %b Ga account:
  = @site_config.ga_account_id
%p
  %b Ga base domain:
  = @site_config.ga_base_domain
%p
  %b Default email:
  = @site_config.default_email
%p
  %b Geocoder url:
  = @site_config.geocoder_url

= link_to 'Edit', edit_admin_site_config_path
