%p#notice= notice

%p
  %b Logo:
  = image_tag(@live_site_config.logo_url)
%p
  %b Small logo:
  = image_tag(@live_site_config.small_logo_url)
%p
  %b Funder 1
  = link_to @live_site_config.funder_name_footer1, @live_site_config.funder_url_footer1
  = image_tag @live_site_config.funder_image_footer1_url
%p
  %b Funder 2
  = link_to @live_site_config.funder_name_footer2, @live_site_config.funder_url_footer2
  = image_tag @live_site_config.funder_image_footer2_url
%p
  %b Funder 3
  = link_to @live_site_config.funder_name_footer3, @live_site_config.funder_url_footer3
  = image_tag @live_site_config.funder_image_footer3_url
%p
  %b Funder 4
  = link_to @live_site_config.funder_name_footer4, @live_site_config.funder_url_footer4
  = image_tag @live_site_config.funder_image_footer4_url
%p
  %b Funder 5
  = link_to @live_site_config.funder_name_footer5, @live_site_config.funder_url_footer5
  = image_tag @live_site_config.funder_image_footer5_url
%p
  %b Funder 6
  = link_to @live_site_config.funder_name_footer6, @live_site_config.funder_url_footer6
  = image_tag @live_site_config.funder_image_footer6_url
%p
  %b Nowhere location:
  = @live_site_config.nowhere_location
%p
  %b Blog about url:
  = @live_site_config.blog_about_url
%p
  %b Blog url:
  = @live_site_config.blog_url
%p
  %b Blog user guide url:
  = @live_site_config.blog_user_guide_url
%p
  %b Default locale:
  = @live_site_config.default_locale
%p
  %b Timezone:
  = @live_site_config.timezone
%p
  %b Ga account:
  = @live_site_config.ga_account_id
%p
  %b Ga base domain:
  = @live_site_config.ga_base_domain
%p
  %b Default email:
  = @live_site_config.default_email
%p
  %b Email domain:
  = @live_site_config.email_domain
%p
  %b Geocoder url:
  = @live_site_config.geocoder_url
%p
  %b Google Street View API key:
  = @live_site_config.google_street_view_api_key

= link_to 'Edit', edit_admin_site_config_path
