%section.groups.content-no-sidebar#content
  %header#group-list-header
    %h1= t ".title"
    .tasks
      = link_to t(".group_request"), new_group_request_path, class: "btn-big-green", style: 'float: right'
  #group-list-tabs
    %ul.tabs.styled-tabs
      %li= link_to t(".list_tab"), "#list", class: "list"
      %li= link_to t(".map_tab"), "#map", class: "map-pin"
    .panes
      #list.pane
        %ul.group-list
          - if @groups.empty?
            = t(".no_results_found")
          = render partial: "compact", collection: @groups, as: :group
        - if @groups.respond_to?(:total_pages)
          = paginate @groups
      #map.pane
        = render "all_map"
