%article#content
  %section.top-box.group-top-box
    %h1= @group.name
    %p= auto_link simple_format @group.description

  %section.group-homepage-tabs
    %ul.tabs.styled-tabs.with-history
      %li= link_to t(".our_areas"), "#area-map"
      %li= link_to t(".recent_threads"), "#recent-threads"
      %li= link_to t(".recent_issues"), "#recent-issues"
    .panes
      #area-map.pane.area-map
        - if (@group.profile.location)
          - m = tiny_display_map(@group.profile, geometry_group_profile_path(@group, :json), "tinymap") do |map, page, dom_id|
            %div{id: dom_id, class: "tinymap"}
          != m.to_html
        - else
          %p= t ".no_location"
      #recent-threads.pane.recent-threads
        - if @recent_threads.empty?
          %p= t ".no_threads"
        - else
          %ul.thread-list.group-latest-discussions
            = render_threads_list @recent_threads
      #recent-issues.pane.recent-issues
        .issue-map
          - if (@group.profile.location)
            - m2 = display_bbox_map(@group.profile.location, all_geometries_issues_path(:json)) do |map2, page2|
              %div#map
            != m2.to_html
        .issue-list
          - if @recent_issues.empty?
            %p= t ".no_issues"
          - else
            %ul.issue-list
              = render partial: "issues/compact", collection: @recent_issues, as: :issue

%aside#sidebar
  - if current_user && !@group.members.include?(current_user)
    %section.group-homepage-join
      %h2= t ".join_title"
      = render partial: "join", locals: {group: @group}
  - if current_user && @group.committee_members.include?(current_user)
    %section.box
      %h2= t ".group_management"
      %ul.thread-metadata-listings
        %li
          = link_to edit_group_profile_path(@group) do
            %p= t(".edit_group_profile")
        %li
          = link_to edit_group_prefs_path(@group) do
            %p= t(".edit_group_prefs")
        %li
          = link_to group_members_path(@group) do
            %p= t(".edit_group_members")
        %li
          = link_to group_membership_requests_path(@group) do
            %p= t(".view_membership_requests", count: @group.pending_membership_requests.count)
  %section.box
    %h2= t ".group_organisers"
    %ul.thread-metadata-listings
      - @group.committee_members.each do |member|
        %li
          = link_to user_profile_path(member) do
            %span.thumb
              - if member.profile.picture
                = image_tag member.profile.picture_thumbnail.url
            %p= member.name
