%article#content
  %section.top-box.group-top-box
    %h1= @group.name
    %p= @group.description

  %section.group-homepage-tabs
    %ul.tabs.styled-tabs
      %li= link_to t(".our_areas"), "#"
      %li= link_to t(".recent_threads"), "#"
      %li= link_to t(".recent_issues"), "#"
    .panes
      .pane.area-map
        - if (@group.profile.location)
          - m = tiny_display_map(@group.profile, geometry_group_profile_path(@group, :json), "tinymap") do |map, page, dom_id|
            %div{id: dom_id, class: "tinymap"}
          != m.to_html
        - else
          %p= t ".no_location"
      .pane.recent-threads
        - if @recent_threads.empty?
          %p= t ".no_threads"
        - else
          %ul.thread-list
            = render_threads_list @recent_threads
      .pane.recent-issues
        .issue-map
          - if (@group.profile.location)
            - m2 = display_bbox_map(@group.profile.location, all_geometries_issues_path(:json)) do |map2, page2|
              %div#map
            != m2.to_html
        .issue-list
          - if @recent_issues.empty?
            %p= t ".no_issues"
          - else
            %ul.issue-list
              = render partial: "issues/compact", collection: @recent_issues, as: :issue

%aside#sidebar
  - if current_user && !@group.members.include?(current_user)
    %section.group-homepage-join
      %h2= t ".join_title"
      - if @group.profile.joining_instructions
        %p= auto_link simple_format @group.profile.joining_instructions
      - else
        %p= t ".join_body", group: @group.name

      - if current_user.membership_request_pending_for?(@group)
        %p= t ".group_request_pending"
      - else
        = link_to t(".join_this_group"), new_group_membership_request_path(@group), class: "btn-green"
  - if current_user && @group.committee_members.include?(current_user)
    %section.box
      %h2= t ".group_management"
      %p= link_to t(".edit_group_profile"), edit_group_profile_path(@group)
      %p= link_to t(".edit_group_members"), group_members_path(@group)
      %p= link_to t(".view_membership_requests", count: @group.pending_membership_requests.count), group_membership_requests_path(@group)
  %section.box
    %h2= t ".group_organisers"
    %ul.thread-metadata-listings
      - @group.committee_members.each do |member|
        %li
          = link_to user_profile_path(member) do
            %span.thumb
              - if member.profile.picture
                = image_tag member.profile.picture_thumbnail.url
            %p= member.name
