%article#content
  %section.top-box.group-top-box
    %h1= @group.name
    %p= @group.description

  %section.group-homepage-tabs
    %ul.tabs.styled-tabs
      %li= link_to t(".our_areas"), "#"
      %li= link_to t(".threads"), "#"
    .panes
      .pane.area-map
        - if (@group.profile.location)
          - m = tiny_display_map(@group.profile, geometry_group_profile_path(@group, :json), "tinymap") do |map, page, dom_id|
            %div{id: dom_id, class: "tinymap"}
          != m.to_html
        - else
          %p= t ".no_location"
      .pane.recent-threads
        %h2= t ".recent_threads"
        - if (@recent_threads.count > 0)
          %ul
          - @recent_threads.each do |thread|
            %li= link_to thread.title, thread_path(thread)
        - else
          %p= t ".no_threads"
      .pane.recent-issues
        %h2= t ".recent_issues"
        .issue-map
          - if (@group.profile.location)
            - m2 = display_bbox_map(@group.profile.location, all_geometries_issues_path(:json)) do |map2, page2|
              %div#map
            != m2.to_html
        .issue-list
          - if (@recent_issues.count > 0)
            %ul
            - @recent_issues.each do |issue|
              %li= link_to issue.title, issue_path(issue)
          - else
            %p= t ".no_issues"

%aside#sidebar
  %section.group-homepage-join
    %h2= t ".join_title"
    %p= t ".join_body", group: @group.name
    - if current_user && !@group.members.include?(current_user)
      = link_to t(".join_this_group"), new_group_membership_request_path(@group), class: "btn-green"
  %section.box
    %h2= t ".group_organisers"
    %ul.following-thread
      - @group.committee_members.each do |member|
        %li= link_to_profile member
