= semantic_form_for @location do |f|
  = f.inputs do
    = f.input :category
    = f.input :loc_json, as: :hidden
    %li.input
      = f.semantic_errors :location
      = render partial: "shared/edit_map", locals: {thing: @location}
  = f.actions do
    = f.action :submit, :label => t("user.locations.submit_button"), :button_html => {:class => "btn-big-green"}
