= semantic_form_for @location do |f|
  = f.inputs do
    = f.input :loc_json, as: :hidden
    %li.input
      = f.semantic_errors :location
      = render partial: "shared/edit_map", locals: {thing: @location}
    = f.input :category
  = f.actions
