%form.formtastic.user_location
  %fieldset.inputs
    %ol
      %li.string.input.optional.stringish
        .left{style: "float: left"}
          %label.label{for: "user_location", style: "width: auto"}
            My location
          %a#auto_detect.btn-grey.hide{href: "#", title: "Create a location based on where you are now"} Use current location
        #user_location{style: "height: 95px; float: left; position: relative; left: -50px"}
= semantic_form_for @location do |f|
  = f.inputs do
    = f.input :loc_json, as: :hidden
    %li.input
      = f.semantic_errors :location
      = render partial: "shared/edit_map", locals: {resource: @location, location: @start_location, skip: true, no_search: true}
    = f.input :category
  = f.actions do
    = f.action :submit, button_html: {class: "btn-big-green"}

:javascript
  $(document).ready(function() {
    var map = new LeafletMap($(".map-data").data('center'), $(".map-data").data('opts'));
    var searchControl = map.addSearchControl({autoCollapse: false, collapsed: false, circleLocation: false});
    var searchEl = searchControl.getContainer();
    document.getElementById('user_location').appendChild(searchEl);
    searchControl.on("search_locationfound", function(point) {
      map.drawCircle(point.latlng.lat, point.latlng.lng);
    });
    if (navigator.geolocation) {
      var updateLocation = function(position){
        var crd = position.coords;
        map.drawCircle(crd.latitude, crd.longitude);
      }
      $("#auto_detect").css('display','inline-block').click(function() {
        navigator.geolocation.getCurrentPosition(updateLocation);
      });
    }
  });
