%form.formtastic.user_location
  %fieldset.inputs
    %ol
      %li.string.input.optional.stringish
        .left{style: "float: left"}
          %label.label{for: "user_location", style: "width: auto"}
            My location
          %a#auto_detect.btn-grey.hide{href: "#", title: "Create a location based on where you are now"} Use current location
        .leaflet-search-outside#user_location
        .leaflet-search-outside#dest_location
      %li
        %label.location-presets
          = check_box_tag :area_around_me, '', false, disabled: true
          = t(".area_around_me")
        %label.location-presets
          = check_box_tag :constituency, '', false, disabled: true
          = t(".my_constituency")
        %label.location-presets
          = check_box_tag :ward, '', false, disabled: true
          = t(".my_ward")
        %label.location-presets
          = check_box_tag :route, '', false, disabled: true
          = t(".my_route")

        .group-labels

= semantic_form_for @location, html: { class: "navigate-away-warning" } do |f|
  = f.inputs do
    = f.input :loc_json, as: :hidden
    %li.input
      = f.semantic_errors :location
      - locals = { resource: @location, location: @start_location, skip: true, extra_opts: { no_search: true, opacity: 0.4 } }
      = render partial: "shared/edit_map", locals: locals
  .meta.nos-issues.hide
    %span=t(".last_months")
    %span#nos_issues
    %span=t(".in_this_area")
    %p
  = f.actions do
    = f.action :submit, button_html: {class: "btn-big-green"}
