= render "shared/profile_menu"
%section#user-locations
  %header#user-locations-header
    .tasks
      = link_to t(".new"), new_user_location_path, class: "btn-big-green"
    %h1= t ".my_locations"

  - if current_user.locations.count > 0
    %section.combined
      %h2= t ".combined_locations"
      %p= t ".combined_locations_guidance"
      - map_id = "map"
      %div{id: map_id}
      .hidden
        .map-data{"data-center" => location_to_geojson(current_user.buffered_locations),
          "data-opts" => { domid: map_id, feature: RGeo::GeoJSON.encode(current_user.buffered_locations) }.to_json}
      %p
        - case current_user.prefs.involve_my_locations
        - when "none"
          = t ".combined_locations_guidance_none_html", edit_prefs_link: link_to(t(".edit_your_prefs"), current_user_prefs_edit_path)
        - when "notify"
          = t ".combined_locations_guidance_notify_html", edit_prefs_link: link_to(t(".edit_your_prefs"), current_user_prefs_edit_path)
        - when "subscribe"
          = t ".combined_locations_guidance_subscribe_html", edit_prefs_link: link_to(t(".edit_your_prefs"), current_user_prefs_edit_path)
    %section.list
      %h2= t ".all_my_locations"
      %table
        %thead
          %th= t ".category"
          %th= t ".map"
          %th= t ".edit"
          %th= t ".delete"
          %th= t ".overlapping_groups"
        - current_user.locations.each do |l|
          %tr
            %td= l.category.name
            %td
              - m = tiny_display_map(l, geometry_user_location_path(l, :json), "tinymap") do |map, page, dom_id|
                %div{id: dom_id, class: "tinymap"}
              != m.to_html
            %td= link_to t(".edit"), edit_user_location_path(l)
            %td= link_to t(".delete"), user_location_path(l), data: { confirm: t(".confirm") }, method: "delete"
            %td
              - if l.overlapping_groups.count > 0
                %ul
                  - l.overlapping_groups.each do |g|
                    %li= link_to g.name, group_path(g)
              - else
                %span= t ".no_overlapping_groups"
  - else
    %h2= t ".no_locations_yet"
    %p.warning
      = image_tag 'warning.png'
      = t ".no_locations_guidance"
    %p= t ".no_locations_guidance2_html", first_location_link: link_to(t(".add_first_location"), new_user_location_path)
%aside#sidebar
