.user-profile-form
  %h1= t ".title"
  .sidebar
    = @user.thumbnail_image
  .form
    = semantic_form_for @profile, as: :user_profile, url: user_profile_path do |f|
      = f.inputs do
        = f.input :picture, as: :file
        = f.input :retained_picture, as: :hidden
        - if @profile.picture
          = f.input :remove_picture, as: :boolean
        = f.input :website
        = f.input :about
      = f.buttons
