= render "shared/profile_menu"
.user-profile-form
  %h1= t ".title"
  .sidebar
    = @user.thumbnail_image
  .form
    = semantic_form_for @profile, as: :user_profile, url: user_profile_path(@user) do |f|
      = f.inputs do
        = f.input :picture, as: :file
        = f.input :retained_picture, as: :hidden
        - if @profile.picture
          = f.input :remove_picture, as: :boolean
        = f.input :website
        = f.input :about
        %p= t ".visibility_guidance_html"
        = f.input :visibility,
            as: :radio,
            collection: UserProfile::VISIBILITY_OPTIONS.map {|n| [t(".profile_#{n}"), n] }

      = f.actions
