.user-profile
  %h1= @user.name
  - if @user == current_user
    = link_to t(".edit"), action: :edit
    = link_to t(".update_account"), edit_user_registration_path
  - if @profile.picture
    = image_tag @profile.picture.url
  .about
    = @profile.about
