%div#map.map.edit
  .map-tools-overlay
    %ul.tabs
      %li.area
        %a(href='#area')
          %span.area
          = t ".area"
      %li.route
        %a(href='#route')
          %span.route
          = t ".route"
      %li.point
        %a(href='#point')
          %span.point
          = t ".point"

    .panes
      #area.pane.area
        %h3= t ".draw_area"
        %p= t ".draw_area_1"
        %p= t ".draw_area_2"
        %p= t ".draw_area_3"
      #route.pane.route
        %h3= t ".draw_route"
        %p= t ".draw_route_1"
        %p= t ".draw_route_2"
        %p= t ".draw_route_3"
      #point.pane.point
        %h3= t ".draw_point"
        %p= t ".draw_point_1"
        %p= t ".draw_point_2"
        %p= t ".draw_point_3"
    %ul.undo-clear
      %li.icon-undo
        %a.edit-undo
          %span.icon-undo
          %span.txt
            = t ".undo"
      %li.icon-clear
        %a.edit-clear
          %span.icon-clear
          %span.txt
            = t ".clear"
  .hidden
    .map-data{"data-center" => location_to_geojson(location),
      "data-opts" => {search: true, draw: true, collisions: true, feature: item_to_geojson(resource),
      geoinput: resource.class.name.underscore}.to_json}

:javascript
  $( document ).ready(function() {
    $(".leaflet-right").css("right", "190px");
  });
