%li.file.input.optional.image-edit-upload{ "data-imageedit" => image_edit_json(resource, attribute, opts) }
  %label.label{for: "file_#{attribute}"}
    = attribute.titlecase
  %input{id: "file_#{attribute}", type: "file"}
  - if defined? hint
    %p.inline-hints
      = hint
%li
  - width = opts[:width] ? "width: #{opts[:width]}px" : ""
  - height = opts[:height] && !opts[:enableresize] ? "; height: #{opts[:height]}px" : ""
  .croppy-container{style: "#{width}#{height}"}
    %img.croppy{id: "preview_#{attribute}"}
  .bs.btn-group
    .bs.btn.btn-grey{title: t(".zoom_in")}
      %i.fa.fa-search-plus{id: "zoom_in_#{attribute}"}
    .bs.btn.btn-grey{title: t(".zoom_out")}
      %i.fa.fa-search-minus{id: "zoom_out_#{attribute}"}
    .bs.btn.btn-grey{title: t(".rotate")}
      %i.fa.fa-rotate-left{id: "rotate_#{attribute}"}
= f.input "base64_#{attribute}", as: :hidden
= f.input "retained_#{attribute}", as: :hidden
