-# frozen_string_literal: true

#map-search.map-search
  = text_field_tag "map-query"
  = button_tag t(".submit"), type: "button"
  #map-search-status.hide
    #map-search-failed.hide= t ".search_failed"
    #map-searching.hide= ajax_spinner_image
    #map-search-noresult.hide= t ".sorry_we_couldnt_find"
    #map-search-main-result.hide
      = t(".showing")
      %span.name
      = t(".near")
      %span.near
    %ol#map-search-results.hide
