%li
  .disccusion-item
    .content
      - link_class = (@unviewed_thread_ids.include?(thread.id) ? "new primary-link" : "primary-link")
      %h3.drop-cap{class: thread.icon_class, data: {'thread-id' => thread.id}}
        = link_to_if policy(thread).show?, thread.title, thread_path(thread), class: link_class
      %br
        %p
          - if thread.group
            = link_to_profile(thread.group)
        %p
          - if policy(thread).show?
            - if thread.issue
              = t ".discussion_on_issue"
              = link_to thread.issue.title, issue_path(thread.issue)
      %div
        %p{class: "italic"}
          - if policy(thread.latest_activity_by.profile).show?
            = link_to_profile(thread.latest_activity_by)
          - else
            = thread.latest_activity_by.display_name_or_anon
          = t ".posted_at"
          = time_tag_with_title(thread.latest_activity_at)
    = render 'message_threads/subscribe_button', thread: thread
    = render "message_thread/user_favourites/form", thread: thread, cached: true
    .permissions= thread_type(thread)
