- content_for :subnav do
  .search
    = form_tag({action: :search}, {method: :get, class: "filters"}) do
      = label_tag t(".search")
      = text_field_tag :query, params[:query]
      = submit_tag t(".search_submit"), class: "submit"

%section#content
  %h1= t ".latest"
  %ul.library-list
    - @items.each do |item|
      %li
        = item.icon
        .lib-content
          = item.link
        .meta
          = item.created_at
