.search
  = semantic_form_for :search, url: search_library_path, method: :get do |f|
    = f.inputs do
      = f.input :query, label: "Search"
    = f.buttons

%section#content
  %h1= t ".latest"
  %ul.library-list
    - @items.each do |item|
      %li
        = item.icon
        .lib-content
          = item.link
        .meta
          = item.created_at
