%section#content
  %h1= t ".title"
  %p= t ".overview_description_html"
  %p= t ".overview_usage"
  %h2= t ".latest"
  %ul.library-list
    - @items.each do |item|
      %li
        = item.icon
        .lib-content
          = item.link
          - if item.location
            - map_id = "leaflet-#{dom_id(item)}"
            .tinyermap{id: map_id}
            .hidden
              .map-data{"data-center" => location_to_geojson(item.location),
                "data-opts" => { domid: map_id, hidelayers: true, feature: item_to_geojson(item), hidezoom: true }.to_json}
        .meta
          = item.created_at

%aside#sidebar
  = link_to t(".new_library_item"), "#", rel: "#new-library-item-selector", class: "open-dialog btn-green"

#new-library-item-selector.dialog.dialog-content.hide
  %h1= t(".new_item_title")
  %p= t(".new_item_description_html")
  %ul.library-selector
    %li
      = link_to new_library_note_path do
        %span.icon.library_note
      = link_to new_library_note_path do
        .name= t(".new_note")
      .description
        = t(".new_note_description_html")
    %li
      = link_to new_library_document_path do
        %span.icon.library_document
      = link_to new_library_document_path do
        .name= t(".new_document")
      .description
        = t(".new_document_description_html")
    = cancel_link '#'
