= semantic_form_for @profile, url: [@profile.group, :profile] do |f|
  = f.input :description
  = f.input :loc_json, as: :hidden
  = render partial: "shared/edit_map", locals: { thing: @profile }
  = f.buttons