= semantic_form_for @profile, url: [@profile.group, :profile] do |f|
  = f.inputs do
    = f.input :description
    = f.input :loc_json, as: :hidden
    .map
      = f.semantic_errors :location
      = render partial: "shared/edit_map", locals: {thing: @profile, area_only: true}
    = f.input :joining_instructions
  = f.buttons
