-# frozen_string_literal: true

%h2= t ".description"
%p= auto_link simple_format @profile.description or t ".no_description"

%h2= t ".logo"
- if @profile.logo
  = image_tag @profile.logo_thumbnail.url
- else
  %p= t ".no_logo"

%h2= t ".picture"
- if @profile.picture
  = image_tag @profile.picture_thumbnail.url
- else
  %p= t ".no_picture"

%h2= t ".location"
- if @profile.location
  = render partial: "map", locals: { profile: @profile }
- else
  %p= t ".no_location"
