%article#how-it-works
  %h1= t ".title"
  %section.inner
    .report
      %span.icon
      %h3= t ".box_1_title"
      %p= t ".box_1_body"
    .advice
      %span.icon
      %h3= t ".box_2_title"
      %p= t ".box_2_body"
    .find
      %span.icon
      %h3= t ".box_3_title"
      %p= t ".box_3_body"
