<article id="content" class="content-no-sidebar">
  <header id="issue-list-header">
    <h1>Recent issues</h1>
    <a href="/" class="btn-big-green">Report new issue</a>
  </header>
  <section id="issue-list-tabs">
    <ul class="tabs styled-tabs">
      <li><a href="#" class="active list">List</a></li>
      <li><a href="#" class="map-pin">Map</a></li>
    </ul>

    <div class="panes">
      <div class="pane">
        <form class="filters">
          <div class="search-box">
            <label for="search">Search issues</label>
            <input type="text" placeholder="Search issues" />
          </div>

          <button type="submit">go</button>

          <label for="sort">Sort By</label>
          <select id="sort">
            <option>Latest First</option>
            <option>Oldest First</option>
            <option>Alphabetical</option>
            <option>Reverse Alphabetical</option>
          </select>
        </form>

        <menu class="pagination">
          <ul>
            <li class="prev"><a href="/">Prev</a></li>
            <li><a href="/">1</a></li>
            <li class="active"><a href="/">2</a></li>
            <li><a href="/">3</a></li>
            <li><a href="/">4</a></li>
            <li><a href="/">5</a></li>
            <li class="next"><a href="/">Next</a></li>
          </ul>
        </menu>

        <ul class="issue-list">
          <li>
            <div class="map">
              <%= image_tag("exmap3.png", width: "270", height: "180") %>
            </div>
            <div class="issue-content">
              <h3><a href="/">Bus drivers and cyclists in harmony</a></h3>
              <div class="meta">
                <p>Created by: <a href="/">supercooljames</a> 5 days ago // <a href="/">10 threads</a></p>
                 <div class="tags">
                  <p>Categories:</p>
                  <ul>
                    <li><a href="/">cycle path</a></li>
                    <li><a href="/">crossings</a></li>
                    <li><a href="/">obstructions</a></li>
                  </ul>
                </div>
              </div>
              <p>Various issues in Cambridge regarding bus driving and cyclist interactions. Work needs to be done to deal with this. (This is actually a city-wide issue, but I've marked this as the bus station for now.)</p>
            </div>
            <div class="votes-cell">
              <div class="votes">
                <a href="/" class="up">vote up</a>
                <div class="vote-count">
                  <span>113</span>
                  votes
                </div>
                <a href="/" class="down">vote down</a>
              </div>
            </div>
          </li>
          <li>
            <div class="map">
              <%= image_tag("exmap5.png", width: "270", height: "180") %>
            </div>
            <div class="issue-content">
              <h3><a href="/">Bus drivers and cyclists in harmony</a></h3>
              <div class="meta">
                <p>Created by: <a href="/">supercooljames</a> 5 days ago</p>
                 <div class="tags">
                  <p>Categories:</p>
                  <ul>
                    <li><a href="/">cycle path</a></li>
                    <li><a href="/">crossings</a></li>
                    <li><a href="/">obstructions</a></li>
                  </ul>
                </div>
              </div>
              <p>Over the years there have been multiple issues on this site.</p>
            </div>
            <div class="votes-cell">
              <div class="votes">
                <a href="/" class="up">vote up</a>
                <div class="vote-count">
                  <span>30</span>
                  votes
                </div>
                <a href="/" class="down">vote down</a>
              </div>
            </div>
          </li>
          <li>
            <div class="map">
              <%= image_tag("exmap4.png", width: "270", height: "180") %>
            </div>
            <div class="issue-content">
              <h3><a href="/">Bus drivers and cyclists in harmony</a></h3>
              <div class="meta">
                <p>Created by: <a href="/">supercooljames</a> 5 days ago</p>
                 <div class="tags">
                  <p>Categories:</p>
                  <ul>
                    <li><a href="/">cycle path</a></li>
                    <li><a href="/">crossings</a></li>
                    <li><a href="/">obstructions</a></li>
                  </ul>
                </div>
              </div>
              <p>Hills Road Bridge is a Natural Bottleneck which has high bike density. Bike Traffic to the school on Hills Rd will need to turn right into Purbeck Rd. There is a bus stop on the left which slows down traffic, but generally cars are in an accelerating mood here. Right turn pocket? Traffic Light?</p>
            </div>
            <div class="votes-cell">
              <div class="votes">
                <a href="/" class="up">vote up</a>
                <div class="vote-count">
                  <span>2</span>
                  votes
                </div>
                <a href="/" class="down">vote down</a>
              </div>
            </div>
          </li>
          <li>
            <div class="map">
              <%= image_tag("exmap5.png", width: "270", height: "180") %>
            </div>
            <div class="issue-content">
              <h3><a href="/">Bus drivers and cyclists in harmony</a></h3>
              <div class="meta">
                <p>Created by: <a href="/">supercooljames</a> 5 days ago</p>
                 <div class="tags">
                  <p>Categories:</p>
                  <ul>
                    <li><a href="/">cycle path</a></li>
                    <li><a href="/">crossings</a></li>
                    <li><a href="/">obstructions</a></li>
                  </ul>
                </div>
              </div>
              <p>Over the years there have been multiple issues on this site.</p>
            </div>
            <div class="votes-cell">
              <div class="votes">
                <a href="/" class="up">vote up</a>
                <div class="vote-count">
                  <span>31</span>
                  votes
                </div>
                <a href="/" class="down">vote down</a>
              </div>
            </div>
          </li>
          <li>
            <div class="map">
              <%= image_tag("exmap3.png", width: "270", height: "180") %>
            </div>
            <div class="issue-content">
              <h3><a href="/">Bus drivers and cyclists in harmony</a></h3>
              <div class="meta">
                <p>Created by: <a href="/">supercooljames</a> 5 days ago</p>
                 <div class="tags">
                  <p>Categories:</p>
                  <ul>
                    <li><a href="/">cycle path</a></li>
                    <li><a href="/">crossings</a></li>
                    <li><a href="/">obstructions</a></li>
                  </ul>
                </div>
              </div>
              <p>Various issues in Cambridge regarding bus driving and cyclist interactions. Work needs to be done to deal with this. (This is actually a city-wide issue, but I've marked this as the bus station for now.)</p>
            </div>
            <div class="votes-cell">
              <div class="votes">
                <a href="/" class="up">vote up</a>
                <div class="vote-count">
                  <span>23</span>
                  votes
                </div>
                <a href="/" class="down">vote down</a>
              </div>
            </div>
          </li>
        </ul>

        <menu class="pagination">
          <ul>
            <li class="prev"><a href="/">Prev</a></li>
            <li><a href="/">1</a></li>
            <li class="active"><a href="/">2</a></li>
            <li><a href="/">3</a></li>
            <li><a href="/">4</a></li>
            <li><a href="/">5</a></li>
            <li class="next"><a href="/">Next</a></li>
          </ul>
        </menu>
      </div>
    </div>
  </section>
</article>