%article#content
  %section.top-box
    %h1= t ".introduction_html"
  %section.center-box
    %h2= t ".center_box_title"
    .inner
      %p= t ".center_box_html"
      = link_to t(".report_an_issue"), new_issue_path, class: "btn-big-green"
  %section
    %h2= t ".latest_discussions"
    %ul.thread-list.latest-discussions
      - @latest_threads.each do |thread|
        = render partial: "shared/message_threads_list", locals: {thread: thread}

%aside#sidebar
  %section.homepage-groups
    %h2= t ".groups_title"
    %p= t ".groups_intro_html", groups_link: link_to(t(".find_local_groups"), groups_path)
  %section.homepage-find
    %h2= t ".find_group"

    = form_tag(groups_path, method: :get, remote: true) do
      %label= t ".your_postcode"
      = text_field_tag "homepage-find", nil, placeholder: t(".your_postcode")
      %button{ type: "submit" }= t ".go"

    .search-results

  %section.twitter
    = render partial: "twitter"

= render partial: 'guide'
