= semantic_form_for @prefs, url: [@prefs.group, :prefs] do |f|
  = f.inputs do
    = f.input :notify_membership_requests
    = f.input :membership_secretary, collection: @membership_secretary_candidates, member_label: :name
  = f.actions
