#changelog
  %h1
    = t(".header")
  %p
    = t(".introduction")
    = t(".github_history_link_html")
  %article
    %h2 25/11/2019
    %ul.bullets
      %li Limit the groups a committee member can assign to an issue.
    %h2 18/11/2019
    %ul.bullets
      %li
        If group has private messages by default then only allow committee members to change
        = link_to "thread privacy", "https://github.com/cyclestreets/cyclescape/issues/241"
      %li
        Allow searching by ID for
        = link_to "Cyclescape photos", "https://github.com/cyclestreets/cyclescape/issues/795"
    %h2 16/11/2019
    %ul.bullets
      %li Allow multiple components per message, e.g. a text, image and deadline can be submitted as one message.
      %li Sort tags by usage so most used tags appear at the top.
    %h2 28/09/2019
    %ul.bullets
      %li On remote message creation add highlight and scroll to the new message.
      %li Fix bug with image edit when using the mousewheel to zoom.
      %li Fix rich text editor bug intoroduced in the Rails update.
    %h2 08/09/2019
    %ul.bullets
      %li Update Rails to 5.1
      %li
        Improve digest email:
        = link_to "identify message creator", "https://github.com/cyclestreets/cyclescape/issues/875"
        , distinguish message reply and issue title more clearly.
    %h2 04/09/2019
    %ul.bullets
      %li
        Fix new planning applications that were
        = link_to "no longer coming through.", "https://github.com/cyclestreets/cyclescape/issues/871"
      %li Allow new documents and images to be posted without reloading the page.

    %h2 11/08/2019
    %ul.bullets
      %li Fix bug with read threads no longer changing colour.

    %h2 08/08/2019
    %ul.bullets
      %li Large performance improvements.  The time ago is now calculated in the browser and not on the server allowing us to cache lots of pages.

    %h2 09/05/2019
    %ul.bullets
      %li
        Fix a
        = link_to "time ago bug", "https://github.com/cyclestreets/cyclescape/issues/849"
        from the Rails 5 upgrade.
      %li
        Fix a
        = link_to "layout glitch", "https://github.com/cyclestreets/cyclescape/issues/673"
        for committee members.
      %li
        Correctly set the group if creating a
        = link_to "new issue on a subdomain", "https://github.com/cyclestreets/cyclescape/issues/850"
      %li
        Speed up pages by pulling all voting count information at the same time.
    %h2 06/05/2019
    %ul.bullets
      %li
        Upgrade Rails to version 5.
    %h2 07/04/2019
    %ul.bullets
      %li
        Stop users being able to create empty locations
        = link_to 'empty locations','https://github.com/cyclestreets/cyclescape/issues/845'
    %h2 03/04/2019
    %ul.bullets
      %li
        Fix HTML
        = link_to 'email formatting','https://github.com/cyclestreets/cyclescape/issues/834'
    %h2 02/04/2019
    %ul.bullets
      %li Combine issue and thread creation into one form
      %li Fix converting Planning Application to Issue to use Richtext
      %li Fix administrative threads and Private Messages to use Richtext editor
      %li Fix Private Message thread ordering
    %h2 09/03/2019
    %ul.bullets
      %li Upgrade Operating System (was Ubuntu 14.04 now is Ubuntu 16.04)
    %h2 20/01/2019
    %ul.bullets
      %li Improvements to help reduce spam from the site feedback.
    %h2 17/01/2019
    %ul.bullets
      %li Allow users to block Private Messages from other users.
      %li Stop Private Messages being checked for Spam.
      %li Fix Richtext editor on new thread form.
    %h2 12/01/2019
    %ul.bullets
      %li More HTML email fixes: make sure formatting is somewhat preserved, remove another way to get empty paragraphs.
      %li Clarify what happens when user accounts are deleted.
      %li Link Emails with the message they create
    %h2 19/12/2018
    %ul.bullets
      %li Remove unwanted HTML when pasting into richtext box. This should fix some formatting issues we've been having.
    %h2 17/12/2018
    %ul.bullets
      %li Block posting messages until richtext editor is initialised.
      %li Add spellcheck to richtext editor.
      %li Remove empty paragraphs from messages.
    %h2 16/12/2018
    %ul.bullets
      %li Fix hashtags with richtext.
    %h2 15/12/2018
    %ul.bullets
      %li If email has HTML part use that, if not covert email to HTML as we now store messages from the web interface as HTML.
      %li Thread API fix with group.
      %li Constrain profile picture size in HTML emails.
    %h2 14/12/2018
    %ul.bullets
      %li Richtext box fixes (make scrollable, strip trailing blank paragraphs, auto link URLs, remove underline from links, fix search formatting).
      %li Strip Facebook tracking from links.
    %h2 09/12/2018
    %ul.bullets
      %li Allow issues and message to be written in HTML.
      %li Update emails to be in HTML and plain text.
      %li Add membership API.
    %h2 05/12/2018
    %ul.bullets
      %li Fix uploading large images, we were converting them to PNG instead of respecting their file type.
    %h2 08/10/2018
    %ul.bullets
      %li Improve image edit.
      %li Improve potential group members, allow 'Name &lt;email@example.com&gt;' email format, improve validations.
      %li Add introduction to site comments.
      %li Try to force Gmail to always show unsubscribe footer.
      %li Fix photo email links.
    %h2 10/08/2018
    %ul.bullets
      %li Speed up creating new messages (submit form using AJAX).
      %li Add map key.
      %li Increase active group members table.
    %h2 23/07/2018
    %ul.bullets
      %li Add image edit
    %h2 13/07/2018
    %ul.bullets
      %li Add action messages where specific actions can be added and later completed in a message thread.
      %li Fix email links to messages due to the floating header bar.
      %li Add more Planning Application areas.
      %li Add most active users to the groups page.
      %li Improve warning when posting a message that is not approved.
    %h2 08/07/2018
    %ul.bullets
      %li Prevent double clicking when voting.
      %li Fix group search when group has no location.
      %li Fix approving group membership requests when user has already become a member.

    %h2 23/05/2018
    %ul.bullets
      %li Try to fix font bug again.
      %li
        Fix access denied and follow button spacing, thanks to
        = link_to '@DoccyB','https://github.com/DoccyB'

    %h2 15/05/2018
    %ul.bullets
      %li Revert Firefox font bug (caused more issues).
      %li Fix missing user location bug.

    %h2 11/05/2018
    %ul.bullets
      %li Speed up site: load vote details after page has loaded.
      %li Fix Firefox font bug.

    %h2 08/04/2018
    %ul.bullets
      %li Add a warning when navigating away from part filled issues or messages.
      %li Allow thread priorities to be edited from the dashboard.
      %li Add hashtags to the search.
      %li Strip more HTML tags from posts.
      %li Fix location bug for new groups.
      %li Fix planning application pull

    %h2 08/04/2018
    %ul.bullets
      %li Fix group profile edit.
      %li Change group logo resizeing.
      %li Add missing Map message text.

    %h2 17/02/2018
    %ul.bullets
      %li Add Map as a message reply type.
      %li Add group logos.
      %li Make Geocoder more configurable.
      %li Minor / bug fixes: hide most message reply types unless user is signed in and fix searching for groups with no name.

    %h2 30/12/2017
    %ul.bullets
      %li Update search (sometimes threads were not appearing for a while due to a bug)
      %li Update ruby to a secure version.
      %li Imporve API options, add messages and message threads.
      %li Make more of the site work in Czech and English.

    %h2 01/11/2017
    %ul.bullets
      %li Fix: validate threads with group privacy have a group.
      %li Fix: group profile edit when validation failed was crashing, now return an error.
      %li Fix: display linebreaks from Cyclestreets photos.
      %li Fix: when unsubscribing from a thread via an email link redirect to the home page (instead of back to the thread).
      %li Fix: popular threads must have postive votes.

    %h2 11/07/2017
    %ul.bullets
      %li Allow header, footer, map tiles, email (and others) to be altered in the site admin.
      %li Add Planning applications to the main search.
      %li Add tooltip of people who liked an issue or message.

    %h2 10/06/2017
    %ul.bullets
      %li Change how voting works so it is one click.  Add ability to vote on messages.
      %li Allow unsubscriptions from email in one click.
      %li Add group find on front page.
      %li Add twitter feed to front page.
      %li Minor style fixes (on front page and location edit).

    %h2 20/04/2017
    %ul.bullets
      %li Add link to top at the bottom of the screen.
      %li Allow committee to manage group threads.
      %li Remove delay before allowing threads to be closed.
      %li Fix error message when a non-committee user tries to view a committee thread.
      %li Fix thread creation bug.
    %h2 25/03/2017
    %ul.bullets
      %li
        Revamp adding a user location: can select preset group geometries,
        constituencies or wards.  Use CycleStreets to add a route to regular destination.
        Add auto-detect of current area. Show number of issues in drawn area over the last month.
      %li Users have only one location, previous multiple locations have been merged into one (with multiple geometries).
      %li Order message thread subscribers by last name.
      %li Paginate My Cyclescape.
      %li Fix top bar when scrolling down.
      %li Denote Committee emails.
      %li Automatically subscribe committee members to admin threads.
      %li Highlight unseen message threads.
      %li Display number of unseen private messages in top navigation.
      %li Add link to individual message in email digests.

    %h2 24/12/2016
    %ul.bullets
      %li Allow issues (along with library items, groups) to be connected to multiple locations.
      %li
        Add potential members to groups where a committee member can upload a
        membership list so when a user signs up they are automatically added to the group if their email
        matches one in the potential members list.
      %li Allow admin to disable groups (for when they are no longer active).

    %h2 11/11/2016
    %ul.bullets
      %li
        Add groups to the
        = link_to 'API','../api'
      %li Improve CycleStreets photo reply image size and fix link.

    %h2 06/11/2016
    %ul.bullets
      %li
        Add CycleStreets photo reply
        = link_to "see more …", "https://github.com/cyclestreets/cyclescape/issues/213"
      %li
        Set leader as a reply type
        = link_to "see more …", "https://github.com/cyclestreets/cyclescape/issues/169"
      %li Add link for group committee to current group membership.
      %li Link to deadlines and order private messages.
      %li
        Bug fixes:
        %ul
          %li Only email active members about deadlines.
          %li Fix PlanIt planning applications.
          %li Fix error message with long issue titles.
          %li Fix collision checkbox.
          %li Speed up tag cloud.
          %li Disable "Submit button" on all reply types when not logged in.
    %h2 04/09/2016
    %ul.bullets
      %li Add social sharing buttons.
      %li Update JavaScript installation method.
    %h2 14/08/2016
    %ul.bullets
      %li Allow user to set locale.
      %li Fix missing friendly dates.
      %li Update new user and lost password pages styling.
      %li Add location to library documents.
      %li When creating issue update the title word count so user knows when it is too long.
    %h2 06/15/2016
    %ul.bullets
      %li
        Migrate from OpenLayers to
        = link_to 'Leaflet', 'http://leafletjs.com/'
        (this changes all the maps and map editing).
      %li Changing tabs now updates the browser URL.
      %li Simplified translation process (and work around Internationalization).
      %li
        = link_to 'Tag cloud' '../tags'
      %li Download deadlines as iCal .ics files.
      %li
        Minor Fixes: group request titles, removing site comments,
        fix thread moderation issue, deadline emails missing message title,
        fix thread unsubscribing issue, planning search is now case insensitive.

    %h2 29/04/2016
    %ul.bullets
      %li Zoom to feature on map search (instead of a generic zoom)
      %li Improve group request page
      %li
        Move
        =link_to 'API documentation','../api'
      %li Allow users to leave groups
      %li Other bug fixes around private messages
    %h2 29/04/2016
    %ul.bullets
      %li Zoom to feature on map search (instead of a generic zoom)
      %li Improve group request page
      %li
        Move
        =link_to 'API documentation','../api'
      %li Allow users to leave groups
      %li Other bug fixes around private messages
    %h2 21/03/2016
    %ul.bullets
      %li Respect locale for users browsing in different countries
      %li Add thread, issue id to search
      %li Order group index
      %li Show all tagged thread respecting privacy
      %li Minor bug fixes (remove PM to self, remove invalid thread privacy, stop unapproved messages updating thread timings)
      %li
        Style changes
        %ul
          %li Dynamically set new thread modal size
          %li Reduce select options font size
          %li Warning / Success message widths
          %li Fix missing thumbnail spacing

    %h2 07/03/2016
    %ul.bullets
      %li Fix nearby issue button
      %li Expose reply by email link
      %li Allow issue creator to change issue in indefinitely
      %li Add [Committee] next to committee users

    %h2 29/02/2016
    %ul.bullets
      %li Make searching more robust
      %li Fix page headers
      %li Make issue URL unique (issues/123-anything used to work, now only /issue/123-title works)
      %li Handle planning applications with no location
      %li Add ical attachment to deadline emails
      %li Force email addresses to be unique
      %li On issue show add issues nearby button

    %h2 11/01/2016
    %ul.bullets
      %li Add all day option to deadlines and issues
      %li Add option to send Private Messages
      %li Add issue nearby
      %li Auto link threads and issues using short syntax (thread 123, thread no 123, thread no. 123, thread #123 or #t123 - or i for issuej) on view
      %li
        Minor Fixes
        %ul
          %li Error on creating new issue,
          %li Stop sending blank digests
          %li Fix external link on issue
          %li Thread subscription inconsistency
          %li Show tag names in tag search
          %li Simplify some sign-up text
          %li Speed up subscribing to threads
          %li Improve deadline date format

    %h2 22/11/2015
    %ul.bullets
      %li Add times to deadlines
      %li Add 'Back to top' link

    %h2 15/11/2015
    %ul.bullets
      %li Email digest option
      %li Ical link for deadlines in dashboard

    %h2 12/11/2015
    %ul.bullets
      %li Added ability to close threads
      %li Send email about upcoming issue and thread deadlines

    %h2 11/11/2015
    %ul.bullets
      %li Performance improvements
      %li Filter out irrelevant planning applications (currently limited to Cambridge area only)
      %li Add tag styling
      %li Paginate tag search results
      %li Thread priority more easily settable using one click
      %li Send welcome email for new users
      %li Make new group member's email editable by the group's committee
      %li Creating an issue from planning application now includes main link
      %li Added search to issues map

    %h2 09/11/2015
    %ul.bullets
      %li Improve search results, boost results in title, added pagination
      %li Searches within a Group now limit results to that area
      %li Add spam messages moderation, now will moderate posts by users not part of a group or if the message is possible spam
      %li Strip email encryption keys from messages (p7 and pgp keys)
      %li Add bicycle wheels maths check to reduce spam signups
      %li Style permission denied pages

    %h2 20/10/2015
    %ul.bullets
      %li Improved email threading and removed PGP signatures
      %li Fixed site feedback submission
      %li Upgraded many old libraries (esp. kaminari, dragonfly)

    %h2 12/10/2015
    %ul.bullets
      %li Upgraded to Rails 4.2
      %li Various bug fixes

    %h2 08/09/2015
    %ul.bullets
      %li Add external url and deadline options to issues
      %li
        Add API for LCC
        =link_to 'see documentation','http://petstore.swagger.io/?url=http://www.cyclescape.org/api/swagger_doc'
    %h2 30/08/2015
    %ul.bullets
      %li Upgrade to Rails 4.1

    %h2 25/08/2015
    %ul.bullets
      %li Update old JavaScript libraries

    %h2 14/08/2015
    %ul.bullets
      %li Add group pictures
      %li Make user account URL more friendly, use '/settings/account' format
      %li Upgrade to Rails 4.0

    %h2 01/06/2015
    %ul.bullets
      %li Privacy Updates
      %h3 Before
      %ul
        %li your full name was hidden if you had a display name (apart for admins for groups you requested to join)
        %li your profile was always visible to everyone
      %h3 After
      %ul
        %li users now can see the full name (in the profile) of anyone who is in the same group
        %li if you have profile visibility set to group (in the user preferences) then their profile will not be visible publicly (only to members in one of your groups)

    %h2 01/06/2015
    %ul.bullets
      %li User friendly URLs for profile, location and preferences edit

    %h2 25/05/2015
    %ul.bullets
      %li Add a checkbox for collision data on issue map
      %li Add new group request form
      %li Update Devise (how users log in)

    %h2 03/05/2015
    %ul.bullets
      %li Add Street View message type
      %li Add more missing translations
      %li Paginate popular issues

  %article
    %h2 02/04/2015
    %ul.bullets
      %li Pull Planning Applications from PlanIt
      %li Add local Planning Applications to MyCyclescape
      %li Add Planning Application search and voting to hide

  %article
    %h2 08/03/2015
    %ul.bullets
      %li Add some missing translations
      %li Make message link permanent
      %li Upgrade many libraries

  %article
    %h2 17/04/2014
    %ul.bullets
      %li Fix a bug where thread creators could end up subscribed twice
      %li Ensure that all thread emails mention the thread privacy setting
      %li Add more warnings that all issue information is public
      %li Allow profiles to be hidden from non-group members.

  %article
    %h2 01/04/2014
    %ul.bullets
      %li Line-breaks between quoted text and reply are preserved when posting via email
      %li All "2 months ago" style links now show you the actual date when you hover over them
      %li Style improvement to the group page listing

  %article
    %h2 27/03/2014
    %ul.bullets
      %li Rephrase lots of the working around adding users to groups, to reduce confusion
      %li Users get notified when they are added to a group
      %li Adding library item messages has been fixed

  %article
    %h2 14/03/2014
    %ul.bullets
      %li Cyclescape can now be translated using Transifex
      %li Added lots of functionality for subscribing and unsubscribing from threads when joining/leaving groups, adding/deleting locations and changing preferences

  %article
    %h2 13/12/2013
    %ul.bullets
      %li Support for the tools menu on touchscreens
      %li Add about and userguide links to the header

  %article
    %h2 5/12/2013
    %ul.bullets
      %li Enable users to cancel their accounts and cleanly handle group memberships etc
      %li Allow users to specify a message when asking to join a group - can be used for membership numbers etc

  %article
    %h2 27/11/2013
    %ul.bullets
      %li Add a maximum size for issues
      %li Allow group membership secretaries to review individual membership requests
      %li Allow group membership secretaries to approve individual membership requests via the email notification

  %article
    %h2 22/11/2013
    %ul.bullets
      %li Link to the groups gallery from the front page
      %li Make links in group descriptions clickable on maps and in the compact listing

  %article
    %h2 15/10/2013
    %ul.bullets
      %li Avoid autoscrolling when linking to a specific message
      %li Lots of localisation fixes to support Czech translations

  %article
    %h2 30/9/2013
    %ul.bullets
      %li Support basic threading in message thread email notifications
      %li Fix some broken page titles and missing translations
      %li Allow admins to delete site comments (helps deal with spam)
      %li Add group preferences to control membership request notifications
      %li Create an option for groups to have a membership secretary

  %article
    %h2 31/7/2013
    %ul.bullets
      %li Limit the number of issues shown on your overview
      %li Improvements to the group membership management

  %article
    %h2 13/8/2013
    %ul.bullets
      %li Planning applications now integrated - thanks to a data feed courtesty of OpenlyLocal. Planning applications are listed on the My Cyclescape page, and each can be promoted to an issue like any other.

  %article
    %h2 25/5/2013
    %ul.bullets
      %li Various labelling added around the site to clarify various features
      %li My Cyclescape subscribed threads listing increased to 12 items
      %li Various improvements to administrative area

  %article
    %h2 7/12/2012
    %ul.bullets
      %li Areas are now the default type when adding locations and issues
      %li File sizes are shown for attachments and library documents
      %li Messages can be promoted into library items, depending on the message type
      %li Group descriptions can now contain links and are automatically formatted like messages
      %li Library notes can be edited for a short time after they are created, to fix typos
      %li A new issue (or a new thread) will only generate one notification email, regardless of your settings, groups and locations
      %li The issues map has improvments, making large issues transparent, smaller ones easier to click and highlighting which one is selected

  %article
    %h2 14/11/2012
    %ul.bullets
      %li Fixed the map drawing interface on IE7
      %li Improved layout of the voting buttons on the issue page

  %article
    %h2 09/11/2012
    %ul.bullets
      %li Email attachments sent to a thread will create new photo or attachment messages as appropriate
      %li Fix bugs in the map when editing issues on IE8
      %li Tags are copied from issues onto new threads
      %li Maps on the group pages now only show issue in the group area
      %li Allow tagging of library items when they are being created
      %li Tabs are now "sticky", so if you click 'back' you'll end up on the pane you were looking at
      %li ... and you can also link to a particular tab in the same places
      %li Posting any type of message will subscribe you to the thread
      %li Increased privacy - last poster on a private thread is no longer shown
      %li New "catch me up" feature on user locations - easily subscribe to existing threads in your area
      %li Various minor bugfixes and restylings

  %article
    %h2 18/10/2012
    %ul.bullets
      %li Committee members can now add issues to administrative threads, or change the issue on an existing issue thread
      %li Tags now have autocomplete suggestions - type a few characters to see matching tags
      %li You can link directly to messages more easily - click on the posting time to see the url
      %li Fixed a bug with document creation not giving friendly error messages

  %article
    %h2 05/10/2012
    %ul.bullets
      %li Textareas now automatically resize as they fill up with text, making longer comments easier to write
      %li Duplicate display names are no longer allowed (matching full names are of course permitted)

  %article
    %h2 17/08/2012
    %ul.bullets
      %li Reduce duplicate messages by disabling submit button after posting
      %li Rework the logic for where you end up after signing in - should now handle more situations gracefully
      %li Improvements to message posting speed by making thread search update an asynchronous process
      %li Groups can now have custom joining instructions

  %article
    %h2 01/08/2012
    %ul.bullets
      %li Added a global search, instead of individual thread/issue/library searches
      %li Security updates

  %article
    %h2 24/05/2012
    %ul.bullets
      %li Thread search! Shows results from all public threads and private threads that you have access to
      %li Added a new "User Priorities" tab to the dashboard, showing your prioritised threads
      %li Replying to a new thread notification will now subscribe you to that thread
      %li Added functionality to reply to certain new thread notifications
      %li Fixed bug with subject of new group location issue notifications
      %li Fixed bug with display of attachment messages in some thread summaries
      %li Fixed bug with unsubscribed threads showing up in dashboard

  %article
    %h2 16/05/2012
    %ul.bullets
      %li Complete rework of preferences options. You should check yours now!
      %li Notifications for new issues and new threads on relevant issues
      %li Options to subscribe automatically to all threads
      %li Global option to enable / disable email.
      %li Dashboard shows subscribed threads rather than only those you've posted to
      %li Fixed bug where censored deadlines were showing on dashboard
      %li Show latest thread activity rather than creation details in more places

  %article
    %h2 10/05/2012
    %ul.bullets
      %li Upgrade of underlying Rails technology to the 3.2 series.
      %li Fixed bug with incoming emails. Messages from some people were being lost if they contained £ symbols
      %li Less ugly thread unfollow button

  %article
    %h2 04/05/2012
    %ul.bullets
      %li Added committee-only threads
      %li Show recently popular issues tab on the Issue overview page

  %article
    %h2 30/04/2012
    %ul.bullets
      %li Fixed notification emails for attachment messages
      %li Improved alignment of avatar images

  %article
    %h2 26/04/2012
    %ul.bullets
      %li Collisions layer added to maps on issue pages
      %li Deadline tab added to overview page
      %li Thread activity icons fixed

  %article
    %h2 20/04/2012
    %ul.bullets
      %li Improvements to the display of overlapping issues on the map
      %li Attachments can be added to threads
      %li Fixed bugs with popups not disappearing

  %article
    %h2 04/03/2012
    %ul.bullets
      %li Issues list in group context only shows issues in that group's area.
      %li Logging in returns the user to the last group they were in.
      %li New thread notifications can be replied to.

  %article
    %h2 24/02/2012
    %ul.bullets
      %li Added what's new page.
      %li Added following indicator to main thread lists.
      %li Increased message box size.
      %li Disable voting and message box if you cannot use them.
      %li Fixed bug with invalid tags being entered.
