-# frozen_string_literal: true

= render partial: "group/tabs"

%h2= t ".title", :group => @group.name

%p= t ".group_members_guidance"
%p= t ".new_members_guidance_introduction"
%ul.bullets
  %li= t ".new_members_guidance_method1_html", add_directly_link: link_to(t(".add_directly"), new_group_membership_path)
  %li= t(".new_members_guidance_method2_html", application_name: @site_config.application_name)


- if @pending_requests
  %h3= t ".pending_requests"
  %p= t ".you_have_pending_members_html", review_pending_requests_link: link_to(t(".review_pending"), group_membership_requests_path)
- else
  %p= t ".review_membership_requests_html", review_membership_requests_link: link_to(t(".review_requests"), group_membership_requests_path)

%section.committee
  %h3= t ".committee"
  %p= t ".committee_guidance"
  %table.regulated
    %thead
      %th= t ".member_name"
      %th= t ".email"
      %th= t ".group_joining_date"
      %th{:colspan => 2}= t ".actions"
    %tbody
      = render partial: "member", collection: @committee

%section.members
  %h3= t ".ordinary_members"
  %p= t ".ordinary_members_guidance"
  %table.regulated
    %thead
      %th= t ".member_name"
      %th= t ".email"
      %th= t ".group_joining_date"
      %th{:colspan => 2}= t ".actions"
    %tbody
      = render partial: "member", collection: @members
