%h1= t ".title", :group => @group.name

%p= link_to t(".new_member"), new_group_membership_path

%h2= t ".committee"
%table
  %thead
    %th= t ".member_name"
    %th= t ".actions"
  %tbody
    = render partial: "member", collection: @committee

%h2= t ".members"
%table
  %thead
    %th= t ".member_name"
    %th= t ".actions"
  %tbody
    = render partial: "member", collection: @members
