%h1= t ".title", name: @tag.name

%h2= t ".issues"
%ol
  - @issues.each do |i|
    %li= link_to i.title, issue_path(i)
%h2= t ".threads"
%ol
  - @threads.each do |t|
    %li= link_to t.title, thread_path(t)
%h2= t ".library_items"
%ol
  - @library_items.each do |item|
    %li= link_to item.title, item.component
