#new-cyclestreets-photo-message.pane
  = semantic_form_for CyclestreetsPhotoMessage.new, url: thread_cyclestreets_photos_path(@thread) do |f|
    = f.inputs do
      = f.input :photo_url, as: :hidden
      = f.input :loc_json, as: :hidden
      = f.input :icon_properties, as: :hidden
      = f.input :cyclestreets_id, as: :hidden
      %div{id: 'photo-map'}
      .hidden
        .map-data{"data-center" => location_to_geojson(@thread.default_centre),
          "data-opts" => { feature: item_to_geojson(@issue), photoselect: true, hidelayers: true, domid: "photo-map" }.to_json}
      = f.input :caption
      %li.string.input.optional.stringish
        = label_tag 'image', nil, class: 'label'
        %span{id: 'image-preview'}

    = f.actions do
      = f.action :submit, button_html: {class: "btn-green"}
