#new-cyclestreets-photo-message.pane
  - photo = message.cyclestreets_photo_messages.build
  = message_form.semantic_fields_for :cyclestreets_photo_messages, photo do |f|
    = f.inputs do
      = f.input :photo_url, as: :hidden
      = f.input :loc_json, as: :hidden
      = f.input :icon_properties, as: :hidden
      = f.input :cyclestreets_id, as: :hidden
      %div{id: 'photo-map'}
      .hidden
        .map-data{"data-center" => location_to_geojson(@thread.default_centre),
          "data-opts" => { feature: item_to_geojson(@issue), photoselect: true, hidelayers: true, domid: "photo-map" }.to_json}
      %p Or if you know the Cyclestreets photo ID
      .cyclestreets-photo-message
        = number_field :photo_id, '', placeholder: "109929"
        = submit_tag "Search Cyclestreets", data: {behaviour: "search-cyclestreets"}
      = f.input :caption
      %li.string.input.optional.stringish
        = label_tag t('.image'), nil, class: 'label'
        %span{id: 'image-preview'}
