#new-action-message.pane
  = semantic_form_for ActionMessage.new, opts.deep_merge(url: thread_actions_path(@thread)) do |f|
    = f.inputs do
      = f.input :description
    = f.actions do
      = f.action :submit, label: t(".submit"), button_html: message_button_html

