%h1= t ".admin_interface"
%ul
  %li= link_to t(".manage_groups"), admin_groups_path
  %li= link_to t(".manage_users"), admin_users_path
  %li= link_to t(".manage_issue_categories"), admin_issue_categories_path
  %li= link_to t(".manage_comments"), site_comments_path
