%h1= t ".admin_interface"
%p= t ".admin_interface_introduction"
%ul
  %li= link_to t(".manage_groups"), admin_groups_path
  %li= link_to t(".manage_group_requests"), group_requests_path
  %li= link_to t(".manage_users"), admin_users_path
  %li= link_to t(".manage_comments"), site_comments_path
