= render "shared/profile_menu"
.edit-user-prefs
  %h1= t ".title"
  %p= link_to t(".back"), current_user_profile_path
  = semantic_form_for @prefs, url: user_prefs_path(@user) do |f|
    = f.inputs do
      %h2= t ".involvement"
      = f.input :involve_my_locations,
          as: :radio,
          collection: UserPref::INVOLVEMENT_OPTIONS.map {|n| [t(".#{n}"), n] }
      = f.input :involve_my_groups,
          as: :radio,
          collection: UserPref::INVOLVEMENT_OPTIONS.map {|n| [t(".#{n}"), n] }
      = f.input :involve_my_groups_admin
      %h2= t ".notification_types"
      %p= t ".notification_types_guidance"
      = f.input :enable_email
      %h2= t ".profile"
      %p= t ".profile_guidance_html", profile_link: link_to(t(".your_profile"), current_user_profile_path)
      = f.input :profile_visibility,
          as: :radio,
          collection: UserPref::PROFILE_OPTIONS.map {|n| [t(".profile_#{n}"), n] }
    = f.actions
