= render "shared/profile_menu"
.edit-user-prefs
  %h1= t ".title"
  %p= link_to t(".back"), user_profile_path(@user)
  = semantic_form_for @prefs, url: user_prefs_path(@user) do |f|
    = f.inputs do
      %h2= t ".involvement"
      = f.input :involve_my_locations,
          as: :radio,
          collection: UserPref::INVOLVEMENT_OPTIONS.map {|n| [t(".#{n}"), n] }
      = f.input :involve_my_groups,
          as: :radio,
          collection: UserPref::INVOLVEMENT_OPTIONS.map {|n| [t(".#{n}"), n] }
      = f.input :involve_my_groups_admin
      %h2= t ".notification_types"
      %p= t ".notification_types_guidance"
      = f.input :enable_email
    = f.actions
