.edit-user-prefs
  %h1= t ".title"
  %p= link_to t(".back"), user_profile_path
  = semantic_form_for @prefs, url: user_prefs_path do |f|
    = f.inputs do
      = f.input :notify_subscribed_threads
      = f.input :notify_new_home_locations_issue
      = f.input :notify_new_group_thread
      = f.input :notify_new_issue_thread
    = f.buttons
