.edit-user-form
  %h1= t(".title", application_name: @site_config.application_name)
  %p
    = t ".info"
  = semantic_form_for resource, as: resource_name, url: invitation_path(resource_name), html: {method: :put} do |f|
    = devise_error_messages!
    = f.inputs do
      = f.input :invitation_token, as: :hidden
      = f.input :full_name
      = f.input :display_name
      = f.input :email
      = f.input :password, hint: false, required: true
      = f.input :password_confirmation, required: true
    = f.actions do
      = f.action :submit, label: t(".commit_button")
.cancel-form
  %h2= t ".cancel_header"
  %p
    = t ".unhappy_with_account_html", confirm_link: link_to(t(".cancel_account"), registration_path(resource_name), data: { confirm: t(".confirm") }, method: :delete)
  = link_to "Back", :back
