#new-thread-leader-message.pane
  - already_leading = ThreadLeaderMessage.already_leading(current_user, @thread)
  %p
    = t(".introduction")
  - unless already_leading
    %p
      %strong
        = t(".introduction_action")
  - leader = message.thread_leader_messages.build
  = message_form.semantic_fields_for :thread_thread_leaders, leader do |f|
    = f.inputs do
      - if already_leading
        = f.input :description, input_html: { placeholder: t(".default_unleading_message_html") }
        = f.input :unleading_id, input_html: { value: already_leading.id }, as: :hidden
      - else
        = f.input :description, input_html: { placeholder: t(".default_leader_message_html") }
    = f.actions do
      - submit_text = already_leading ? t('.stop_leading') : t('.start_leading')
      = f.action :submit, label: submit_text, button_html: message_button_html
