#new-photo-message.pane
  = semantic_form_for PhotoMessage.new, opts.deep_merge(url: thread_photos_path(@thread), remote: false, html: { multipart: true}) do |f|
    = f.inputs do
      = f.input :photo, as: :file, input_html: { accept: 'image/*' }
      = f.input :retained_photo, as: :hidden
      = f.input :caption
      = render "shared/actions", f: f, thread: @thread
    = f.actions do
      = f.action :submit, button_html: message_button_html
