%h1= t(".title")
- if @threads.count == 0 and @issues.count == 0 and @library_items.count == 0
  %p= t(".no_results_found", query: @query)
- else
  %section.content-no-sidebar#content
    %ul.tabs.styled-tabs.with-history
      %li= link_to t(".issue_results", count: @issues.total_count), "#issue-results"
      %li= link_to t(".thread_results", count: @threads.total_count), "#thread-results"
      %li= link_to t(".library_results", count: @library_items.total_count), "#library-results"
    .panes
      #issue-results.pane
        %p= t(".issues_found", count: @issues.total_count, query: @query)
        - if @issues.count > 0
          %ul.issue-list
            = render partial: "issues/compact", collection: @issues, as: :issue
            = paginate @issues, param_name: :issue_page, params: {anchor: 'issue-results'}

      #thread-results.pane
        %p= t(".threads_found", count: @threads.total_count, query: @query)
        - if @threads.count > 0
          %ul.thread-list
            = render partial: "message_threads/list", collection: @threads, as: :thread
            = paginate @threads, param_name: :thread_page, params: {anchor: 'thread-results'}
      #library-results.pane
        %p= t(".library_items_found", count: @library_items.total_count, query: @query)
        - if @library_items.count > 0
          %ul
            - @library_items.each do |item|
              %li= link_to item.title, item.component
          = paginate @library_items, param_name: :library_page, params: {anchor: 'library-results'}
