%h1== Hello #{@user.full_name}

%section.threads
  - @groups.each do |group|
    %section.group
      %h2= link_to group.name, group
      %p= link_to t(".new_group_thread"), new_group_thread_path(group), class: "button"
      %section.threads
        = render partial: "message_threads/compact", collection: group.threads, as: :thread

%section.issues
  %h2= t ".issues_in_your_area"
  = render partial: "issues/compact", collection: @relevant_issues, as: :issue, locals: {collapsed: true}

%section.other
