%section#content.content-no-sidebar
  .user-dashboard#dashboard-tabs
    %ul.tabs.styled-tabs
      %li= link_to t(".my_threads"), "#my-threads"
      %li= link_to t(".issues_nearby"), "#issues-nearby"
      %li= link_to t(".my_priorities"), "#my-priorities"
      %li= link_to t(".deadlines"), "#deadlines"
      %li= link_to t(".planning_applications"), "#planning"

    .panes
      #my-threads
        %section.threads
          - if @subscribed_threads.empty?
            %p= t ".no_subscribed_threads_html", threads_link: link_to(t(".recent_threads"), threads_path),
                                          add_issue_link: link_to(t(".add_a_new_issue"), new_issue_path)
          - else
            %table.dashboard-threads
              %tbody
                - @subscribed_threads.each do |thread|
                  %tr
                    %td.title
                      %h4= link_to thread.title, thread_path(thread)
                      - if thread.has_issue?
                        %p= thread.issue_link
                    %td.activity
                      = thread.latest_activity
                    %td.meta
                      = thread.latest_activity_date
        #dashboard-threads-issues
          %section#group-threads
            %h2= t(".group_threads")
            - if current_user.groups.empty?
              %p= t ".no_user_groups"
            - elsif @group_threads.empty?
              %p= t ".no_group_threads"
            - else
              %ul.group-threads-list
                - @group_threads.each do |thread|
                  %li
                    %span
                    = link_to_profile thread.group, class: "group-link"
                    %div
                      %h4= link_to thread.title, thread_path(thread)
      #issues-nearby
        %section.issues
          %h2= t ".issues_in_your_area"
          - if current_user.locations.empty?
            %p= t ".no_locations_guidance_html", add_some_locations_link: link_to(t(".add_some_locations"), user_locations_path)
          - elsif @relevant_issues.empty?
            %p= t ".no_issues_nearby_html", add_issue_link: link_to(t(".add_a_new_issue"), new_issue_path),
                                        add_location_link: link_to(t(".add_another_location"), user_locations_path)
          - else
            %p= link_to t(".update_your_locations"), user_locations_path
            %ul.issue-list
              = issues_list @relevant_issues, collapsed: true
      #my-priorities
        %section.threads
          - if @prioritised_threads.empty?
            %p= t ".no_prioritised_threads_html", threads_link: link_to(t(".recent_threads"), threads_path),
                                          add_issue_link: link_to(t(".add_a_new_issue"), new_issue_path)
          - else
            %table.dashboard-threads
              %tbody
                - @prioritised_threads.each do |thread|
                  %tr
                    %td.title
                      %h4= link_to thread.title, thread_path(thread)
                      - if thread.has_issue?
                        %p= thread.issue_link
                    %td.activity
                      = thread.latest_activity
                    %td.meta
                      = t "thread_priorities.#{thread.priority_for(current_user).label}"
      #deadlines
        %section.threads
          - if @deadline_threads.empty?
            %p= t ".no_upcoming_deadline_threads"
          - else
            %table.dashboard-threads
              %tbody
                - @deadline_threads.each do |thread|
                  %tr
                    %td.title
                      %h4= link_to thread.title, thread_path(thread)
                      - if thread.has_issue?
                        %p= thread.issue_link
                    %td.activity
                      %ul.content-icon-list
                        - thread.upcoming_deadline_messages.each do |message|
                          %li.cal
                            %h4= l message.component.deadline.to_date, format: :long
                            %p= message.component.title
                            - deadline = message.component.deadline.to_date
                            - diff = deadline - DateTime.now.to_date
                            - if diff >= 0 && diff < 30
                              %p.warning= t ".days_away", count: diff.to_i
                    %td.meta
                      = t ".deadline_thread_updated", at: thread.latest_activity_date
      #planning
        %section.planning_applications
          - if @planning_applications.empty?
            %p= t ".no_planning_applications"
          - else
            %table.dashboard-planning-applications
              %tbody
                - @planning_applications.each do |plan|
                  %tr
                    %td.title
                      %h4= link_to plan.title, planning_application_path(plan)
                      - if plan.has_issue?
                        %p= plan.issue_link
                    %td
                      %p= plan.council_name
                    %td
                      %p= plan.uid
