%h1== Hello #{@user.full_name}

%section.threads
  - @groups.each do |group|
    %section.group
      %h2= link_to group.name, group
      %p= link_to t(".new_group_thread"), new_group_thread_path(group), class: "button"
      %section.threads
        = threads_list group.threads

%section.issues
  %h2= t ".issues_in_your_area"
  %p= link_to t(".update_your_areas"), user_locations_path
  = issues_list @relevant_issues, collapsed: true

%section.other
  .subscribed-threads
    %h2= t ".subscribed_threads"
    = threads_list @subscribed_threads
  .involved-threads
    %h2= t ".involved_threads"
    = threads_list @involved_threads
