%h1= t ".title"
- if @site_comments
  = paginate @site_comments
  %table
    %thead
      %th= t(".id")
      %th= t(".when")
      %th= t(".who")
      %th= t(".what")
      %th= t(".where")
      %th= t(".how")
      %th
    - @site_comments.each do |comment|
      %tr
        %td= comment.id
        %td
          = time_tag_with_title(comment.created_at) do
            - t ".when_ago", time_ago: time_ago_in_words(comment.created_at)
        %td
          %ul
            %li= comment.user ? link_to_profile(comment.user) : comment.name
            %li= comment.email
        %td= simple_format comment.body
        %td= link_to comment.context_url, comment.context_url
        %td= comment.context_data
        %td= link_to t(".delete_comment"), site_comment_path(comment), data: { confirm: t(".confirm_delete") }, method: :delete
  = paginate @site_comments
- else
  = t ".no_comments"
