.new-site-comment-form
  %h2= t ".title"
  %p= t ".introduction"
  = semantic_form_for @site_comment do |f|
    = f.inputs do
      = f.input :body
      = f.input :name
      = f.input :email
      = f.input :context_url, as: :hidden, input_html: { value: request.referer }
      %li.input.required.stringish
        = label_tag 'bicycle_wheels', class: 'label' do
          = t('formtastic.labels.user.new.bicycle_wheels')
          %abbr(title="required") *
        = text_field_tag :bicycle_wheels
        %p.inline-hints
          = t('formtastic.hints.site_comment.bicycle_wheels')

      %li.input.required.stringish{style: "display: none"}
        = label_tag 'real_name', class: 'label' do
          %abbr(title="required") *
        = text_field_tag :real_name

    = f.actions do
      = f.action :submit, button_html: { class: "btn-green submit" }
      = cancel_link root_path
