.new-site-comment-form
  %h2= t ".title"
  %p= t ".introduction"
  = semantic_form_for @site_comment do |f|
    = f.inputs do
      = f.input :body
      = f.input :name
      = f.input :email
      = f.input :context_url, as: :hidden, input_html: { value: request.referer }
    = f.actions do
      = f.action :submit, button_html: { class: "btn-green submit" }
      = cancel_link root_path
