.new-site-comment-form
  %h1= t ".title"
  = semantic_form_for @site_comment, remote: true do |f|
    = f.inputs do
      = f.input :body
      = f.input :name
      = f.input :email
      = f.input :context_url, as: :hidden, value: request.referer
    = f.actions do
      = f.action :submit, button_html: { data: { disable_with: t("formtastic.actions.saving") } }
      = f.action :cancel, url: root_path
