.new-site-comment-form
  %h1= t ".title"
  = semantic_form_for @site_comment, remote: true do |f|
    = f.inputs do
      = f.input :body
      = f.input :name
      = f.input :email
    = f.buttons do
      = f.commit_button
      %li
        = cancel_link root_path
