= semantic_form_for @group, url: [:admin, @group] do |f|
  = f.inputs do
    = f.input :name
    = f.input :short_name
    = f.input :website
    = f.input :email
    = f.input :default_thread_privacy, as: :select, collection: (MessageThread::ALLOWED_PRIVACY - ["committee"]).map {|n| [n.capitalize, n] }
  = f.actions do
    = f.action :submit
    = cancel_link
