%header
  %h1= t ".title"
%section
  .tasks
    %p= link_to t(".new_group"), new_admin_group_path
  %table
    %thead
      %th= t ".name"
      %th= t ".group_email"
      %th{colspan: 3}= t ".actions"
    %tbody
      - @groups.each do |group|
        %tr
          %td= link_to group.name, group
          %td= mail_to group.email
          %td= link_to t(".edit"), [:edit, :admin, group]
          %td= link_to t(".edit_profile"), [:edit, group, :profile]
          %td= link_to t(".members"), [group, :members]
