%header
  %h1= t ".title"
%section
  .tasks
    = link_to t(".new_group"), new_admin_group_path
  %table
    %thead
      %th= t ".name"
    %tbody
      - @groups.each do |group|
        %tr
          %td= link_to group.name, group
          %td= mail_to group.email
          %td.actions
            = link_to t(".edit"), [:edit, :admin, group]
            = link_to t(".members"), [group, :members]
