%header
  %h1= t ".title"
%section
  .tasks
    %p= link_to t(".new_group"), new_admin_group_path
  %table
    %thead
      %th= t ".name"
      %th= t ".subdomain"
      %th= t ".group_email"
      %th{colspan: 4}= t ".actions"
    %tbody
      - @groups.each do |group|
        %tr
          %td= link_to_group_home group
          %td= group.subdomain
          %td= mail_to group.email
          %td= link_to t(".edit"), [:edit, :admin, group]
          %td= link_to t(".edit_profile"), [:edit, group, :profile]
          %td= link_to t(".edit_prefs"), [:edit, group, :prefs]
          %td= link_to t(".members"), [group, :members]
          %td
            - if group.disabled_at
              = link_to t(".enable"), enable_admin_group_path(group), method: :put, class: "btn-red"
            - else
              = link_to t(".disable"), disable_admin_group_path(group), method: :put, class: "btn-grey", title: t(".disable_tooltip")
