#new-street-view-message.pane
  - street_view = message.street_view_messages.build
  = message_form.semantic_fields_for :street_view_messages, street_view do |f|
    = f.inputs do
      = f.input :caption
      = f.input :heading, as: :hidden
      = f.input :location_string, as: :hidden
      = f.input :pitch, as: :hidden

    .streetViewPano{id: 'newStreetViewPano', data: {lat: @thread.default_centre.x, long: @thread.default_centre.y}}
    %br/
    .streetViewPano{id: 'newStreetViewMap'}
    %br/
