#new-street-view-message.pane
  - street_view = message.street_view_messages.build
  = message_form.semantic_fields_for :street_view_messages, street_view do |f|
    = f.inputs do
      = f.input :caption
      = f.input :heading, as: :hidden
      = text_field_tag :street_view_message_location_string, nil, class: :hidden
      = f.input :pitch, as: :hidden

    .streetViewPano{id: 'newStreetViewPano'}
    %br/
    .streetViewPano{id: 'newStreetViewMap'}
    %br/

:javascript
  var svLatNew = #{@thread.default_centre.x};
  var svLongNew = #{@thread.default_centre.y};
