.link
  %p= simple_format component.caption
  .streetViewPano{id: "streetViewPano#{component.id}"}

:javascript
  streetViews.push({id: #{component.id},
    lat:   #{component.location.x},
    long:  #{component.location.y},
    head:  #{component.heading},
    pitch: #{component.pitch}
    });
