.link{id: dom_id(message.component)}
  .streetViewPano{id: "streetViewPano#{message.component.id}"}
  %p= simple_format message.component.caption

:javascript
  streetViews.push({id: #{message.component.id},
    lat: #{message.component.location.x},
    long: #{message.component.location.y},
    head: #{message.component.heading},
    pitch: #{message.component.pitch}
    });
