There have been updates on <%= @threads_messages.count %> threads you are subscribed to.
<br>
<%- @threads_messages.each do |thread, messages| %>
  <%- @thread = thread %>
  <hr style="border:3px solid #E6E6E6;" />

  <p>
    <strong>Updates on "<%= raw @thread.title %>"</strong>
  </p>

  <div style="margin-left:20px">
    <%- messages.each.with_index do |message, index| %>
      <% if index.positive? %>
        <hr style="border:1px solid #E6E6E6;" />
      <% end %>
      <div style="font-size: 12px;color: #999999;">
        <%= render 'header', message: message %>
      </div>
      <%- message.components_and_self.each do |component| %>
        <%= "#{t("thread_mailer.#{component.notification_name}.type").capitalize}:" %>
        <div>
          <%= render component.notification_name.to_s, component: component %>
        </div>
      <%- end  %>
      <p style="font-size: 12px;color: #999999;">
        To reply to the above, <%= mail_to(message_address(message), "email") %> or <%= link_to("visit the discussion", thread_url(@thread, anchor: dom_id(message))) %>.
        Please ensure you strip out non-relevant text in your message.
      </p>
    <%- end  %>
  </div>
<%- end  %>
