#new-deadline-message.pane
  - deadline = message.deadline_messages.build
  = message_form.semantic_fields_for :deadline_messages, deadline do |f|
    = f.inputs do
      = f.input :all_day, input_html: {class: "all-day"}
      = f.input :deadline, as: :date_picker, label: t("deadline_date"), input_html: { autocomplete: :off }
      = f.input :title
