#new-deadline-message.pane
  = semantic_form_for DeadlineMessage.new, opts.deep_merge(url: thread_deadlines_path(@thread)) do |f|
    = f.inputs do
      = f.input :all_day, input_html: {class: "all-day"}
      = f.input :deadline, as: :date_picker, label: t("deadline_date"), input_html: { autocomplete: :off }
      = f.input :title
      = render "shared/actions", f: f, thread: @thread
    = f.actions do
      = f.action :submit, label: t(".submit"), button_html: message_button_html
