%h1= t ".title"

= semantic_form_for @membership do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :role, :as => :select, :collection => f.object.class.allowed_roles_map
    = f.semantic_fields_for :user do |f2|
      = f2.semantic_errors
      = f2.inputs do
        = f2.input :full_name, hint: t("formtastic.hints.group_membership.full_name")
        = f2.input :email
  = f.buttons
