%h1= t ".title"
%p= t ".introduction"

.main-search-box
  = form_tag(admin_users_path, method: :get, class: "filters") do
    = text_field_tag :email, params[:email], placeholder: t(".email")
    = button_tag t(".search_button")
  .clear
  = form_tag(admin_users_path, method: :get, class: "filters") do
    = text_field_tag :full_name, params[:full_name], placeholder: t(".full_name")
    = button_tag t(".search_button")
  .clear
  = form_tag(admin_users_path, method: :get, class: "filters") do
    = text_field_tag :display_name, params[:display_name], placeholder: t(".display_name")
    = button_tag t(".search_button")

.clear

%table
  %thead
    %th= t ".id"
    %th= t ".display_name"
    %th= t ".full_name"
    %th= t ".email"
    %th= t(".approved") + "?"
    %th= t ".role"
    %th= t ".created"
    %th= t ".last_seen"
    %th= t ".disabled"
    %th= t ".edit"
    %th= t ".preferences"
    %th= t ".locations"
    %th(style="max-width: 400px")= t ".website"
    %th= t ".about"
  %tbody
    = render collection: @users, partial: "user"
= paginate @users
