%h1= t ".title"
%p= t ".introduction"

%table
  %thead
    %th= t ".id"
    %th= t ".display_name"
    %th= t ".full_name"
    %th= t ".email"
    %th= t ".role"
    %th= t ".created"
    %th= t ".disabled"
    %th= t ".edit"
    %th= t ".preferences"
    %th= t ".locations"
    %th(style="max-width: 400px")= t ".website"
    %th= t ".about"
    %th= t(".approved") + "?"
  %tbody
    = render collection: @users, partial: "user"
