= javascript_include_tag "//www.gstatic.com/charts/loader.js", "chartkick"

- if @current_group
  %h3= "Scoped to #{@current_group.name}"
- else
  %h3 For the whole site:
- month_sum = usr_sum = 0
%div= line_chart(@users.map{ |usr| [ usr.month, usr_sum += usr.count]}, ytitle: 'New Users (Cumulative)', library: {title: 'Users'})

%div= line_chart(@messages.map{ |mes| [ mes.month, month_sum += mes.count]}, ytitle: 'New Messages (Cumulative)', library: {title: 'Messages'})

%div= line_chart([{ name: 'New Messages', data: @messages.map{ |mes| [ mes.month, mes.count]}},
  {name: 'Unique contributers', data: @messages.map{ |mes| [mes.month, mes.cids]}} ],
  library: {title: 'Messages'})

- if @current_group
  %h3 For the whole site:

%div= line_chart([ {name: 'All new Issues', data: @issues.map{ |iss| [iss.month, iss.count]}},
  {name: 'Issues from planning applications', data: @issues.map{ |iss| [iss.month, iss.pa]}}],
  library: {title: 'Issues'})

%div= line_chart(@message_types.map { |name, val| {name: name, data: val.map{ |val| [val.month, val.count] } } },
  library: {title: 'Breakdown of Message types'})
