<li>
  <a href=<%= issues_path(issue) %> >
    <div class="content">
      <h3 class="drop-cap"><%= issue.title %></h3>
      <p>Camden Cyclists</p><img class="avatar" src="/images/placeholders/avatar1.png" />
      <p class="italic">
        <% if permitted_to? :view_profile, issue.created_by %>
          <%= issue.created_by.name  %>
        <% else %>
          <%= issue.created_by.display_name_or_anon  %>
        <% end %>
        <%= formatted_created_at(issue)  %>
      </p>
      <ul class="tags">
        <% issue.tags.pluck(:name).each do |tag| %>
          <li class="tag"><%= tag %></li>
        <% end %>
      </ul>
    </div>
    <div class="minimap">
      <div class="unread">
        <p><%= @unviewed_message_count[issue.id] %></p>
      </div>
      <% prefix = "list" unless local_assigns.has_key? :prefix %>
      <% map_id = "leaflet-#{dom_id(issue, prefix)}" %>
      <div class="map" id="<%= map_id %>"></div>
      <div class="hidden">
        <div class="map-data" data-center="<%= location_to_geojson(issue.location) %>" data-opts="<%= { domid: map_id, hidelayers: true, feature: item_to_geojson(issue), hidezoom: true }.to_json %>"></div>
      </div>
    </div>
    <%= render "new_ui/user_favourites/form", thread: issue.threads.first %>
  </a>
</li>
