%footer#site-footer(role="contentinfo")
  .wrapper
    #footer-top
      %nav
        %ul
          %li
            %a(href="https://www.facebook.com/CycleStreets" class="facebook") CycleStreets Facebook page
          %li
            %a(href="https://twitter.com/cyclescape" class="twitter") Cyclescape Twitter account
          %li
            %small= t(".github_page_link_html")
          %li
            %small= t(".application_version_html", version: link_to_github_commit)
          %li
            %small= link_to t(".whats_new"), page_path("changelog")
          %li
            %small= link_to t(".cyclescape_blog"), 'http://blog.cyclescape.org/'
          %li
            %small= link_to t(".user_guide"), 'http://blog.cyclescape.org/guide/'
    %div{:id => 'supportlogos'}
      %p= t(".supportlogos_introduction")
      %ul
        %li
          = link_to image_tag("supportlogos/cyclestreets.png", {title: t(".funding_from_and_created_by", :name => 'CycleStreets'), :alt => 'Logo'}), 'http://www.cyclestreets.net/', :target => "_blank"
        %li
          = link_to image_tag("supportlogos/geovation.png", {title: t(".funding_from", :name => 'GeoVation'), :alt => 'Logo'}), 'http://www.geovation.org.uk/', :target => "_blank"
        %li
          = link_to image_tag("supportlogos/lushcharitypot.png", {title: t(".funding_from", :name => 'Lush Charity Pot'), :alt => 'Logo'}), 'https://www.lush.co.uk/our-values/charity-support', :target => "_blank"
        - if group_subdomain?('camcycle')
          %li
            = link_to image_tag("supportlogos/cambridgesustainablecity.png", {title: t(".funding_from", :name => 'Cambridge Sustainable City'), :alt => 'Logo'}), 'http://www.cambridge.gov.uk/ccm/navigation/environment-and-recycling/sustainable-city/', :target => "_blank"
        %li
          = link_to image_tag("supportlogos/ctc.png", {title: t(".funding_from", :name => 'CTC'), :alt => 'Logo'}), 'http://www.ctc.org.uk/', :target => "_blank"
