%footer#site-footer(role="contentinfo")
  .wrapper
    #footer-top
      %nav
        %ul
          - if @site_config.facebook_link
            %li
              %a(href="#{@site_config.facebook_link}" class="facebook")
                = t(".facebook_page", application_name: @site_config.application_name)
          - if @site_config.twitter_link
            %li
              %a(href="#{@site_config.twitter_link}" class="twitter")
                = t(".twitter_page")
                = t(".twitter_page", application_name: @site_config.application_name)
          %li
            %small= t(".github_page_link_html")
          %li
            %small= t(".application_version_html", version: link_to_github_commit)
          %li
            %small= link_to t(".whats_new"), page_path("changelog")
          %li
            %small= link_to t(".cyclescape_blog", application_name: @site_config.application_name), @site_config.blog_url
          %li
            %small= link_to t(".user_guide"), @site_config.blog_user_guide_url
          %li
            %small= link_to t(".privacy"), page_path('privacypolicy')
    %div{id: 'supportlogos'}

      %p= t(".osm_credit_html")
      %p= t(".supportlogos_introduction")
      %ul
        - 1.upto(3).each do |nlogo|
          - if logo = @site_config.public_send("funder_image_footer#{nlogo}")
            %li
              = link_to image_tag(logo.url, {title: t(".funding_from", name: @site_config.public_send("funder_name_footer#{nlogo}")), :alt => 'Logo'}), @site_config.public_send("funder_url_footer#{nlogo}"), :target => "_blank"
        - if group_subdomain?('camcycle')
          %li
            = link_to image_tag("supportlogos/cambridgesustainablecity.png", {title: t(".funding_from", :name => 'Cambridge Sustainable City'), :alt => 'Logo'}), 'http://www.cambridge.gov.uk/ccm/navigation/environment-and-recycling/sustainable-city/', :target => "_blank"
        - 4.upto(6).each do |nlogo|
          - if logo = @site_config.public_send("funder_image_footer#{nlogo}")
            %li
              = link_to image_tag(logo.url, {title: t(".funding_from", name: @site_config.public_send("funder_name_footer#{nlogo}")), :alt => 'Logo'}), @site_config.public_send("funder_url_footer#{nlogo}"), :target => "_blank"
%a.back-to-top(href="#")= t(".top")
