!!!
%html
  %head
    %title= page_title
    = favicon_link_tag 'favicon.ico', type: "image/x-icon"
    = stylesheet_link_tag    "application"
    %script(src="/openlayers/OpenLayers.js" type="text/javascript")
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{class: [Rails.env, controller_path.tr("/_", "-")].join(" ")}
    %header#site-header(role="banner")
      .wrapper
        - if current_group
          = link_to root_path, id: "site-title" do
            %h1= current_group.name
        - else
          %a#site-logo(href="#")
          = link_to image_tag("header_logo.png", alt: t(".title")), root_path, id: "site-title"
        %ul#top-menu
          %li.about= link_to t(".title"), root_url(subdomain: "www"), class: "cyclescape-logo"
          - if current_user
            %li.name= link_to_profile current_user
            %li.sign-out= link_to "Sign out", destroy_user_session_path, method: "delete"
          - else
            - if permitted_to? :create, :devise_registrations
              %li= link_to "Sign up", new_user_registration_path
            - if permitted_to? :create, :devise_sessions
              %li= link_to "Sign in", new_user_session_path
          %li#feedback= link_to t(".feedback"), new_site_comment_path, title: t(".feedback"), rel: "#overlay"
    #main-nav
      %nav.wrapper
        %ul#navigation(role="navigation")
          %li#menu-dashboard= link_to t(".dashboard"), dashboard_path
          - if permitted_to? :view, :admin_home
            %li#menu-admin= link_to t(".admin"), admin_home_path
          %li#menu-issues= link_to t(".issues"), issues_path
          %li#menu-threads= link_to t(".threads"), threads_path
          %li#menu-library= link_to t(".library"), library_path
    #crumb-search
      .wrapper
        %nav
          %ul
            %li= link_to t(".home"), root_path
            %li= link_to "Somewhere", "#"
    .flash-container
      - [:alert, :notice].each do |type|
        - if flash.key? type
          .flash{class: type}
            = flash[type]
    #page
      .wrapper
        = yield
        #overlay
          .inner
    %footer
      .wrapper
        = t(".application_version_html", version: link_to_github_commit)
