!!!
%html
  %head
    %title Cyclekit
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{class: controller_path.gsub('/', '_')}
    %header
      %h1 CycleKit
    .control-bar
      - if current_user
        %nav.user-menu
          %ul
            %li= link_to t(".dashboard"), dashboard_path
            - if permitted_to? :manage, :admin_groups
              %li= link_to t(".admin"), admin_groups_path
        .account
          %ul
            %li= current_user.name
            %li= link_to "Sign out", destroy_user_session_path, method: "delete"
      - else
        %ul
          %li= link_to "Sign up", new_user_registration_path
          %li= link_to "Sign in", new_user_session_path
    .flash-container
      - [:alert, :notice].each do |type|
        - if flash.key? type
          .flash{class: type}
            = flash[type]
    .content-container
      .content
        = yield
    %footer
